/*
Theme Name: SUBTA
Theme URI: http://e5subta.wpengine.com/
Description: Custom Theme Developed for SUBTA
Author: Element5 Digital
Author URI: https://element5digital.com/
Version: 1.0
*/

@charset "utf-8";

body.page-id-60206 #menu-item-61255,
body.page-id-60206 #menu-item-60398,
body.page-id-60205 #menu-item-61255,
body.page-id-60205 #menu-item-60398,
body.page-id-60204 #menu-item-61255,
body.page-id-60204 #menu-item-60398,
body.page-id-60198 #menu-item-61255,
body.page-id-60198 #menu-item-60398 {
	display: none;
}
/* LANDING PAGE */
body.page-id-63251 .primary-nav-wrap > * {
	display: none;
}
body.page-id-63251 header.post-head {
	display: none;
}
body.page-id-63251 main {
	padding-top: 64px;
} 
body.page-id-63251 footer .navigations {
	display: none;
}