/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
	display: inline-block;
	padding: 8px var(--Inbetween);
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	color: var(--Purple);
	text-decoration: none;
	cursor: pointer;
	background-color: var(--Grey);
	border: none;
	border-radius: 5px;
	transition: all 0.35s linear;

	@media(--tablet) {
		padding: 12px var(--Large);
	}

	&:hover,
	&:focus {
		color: var(--White);
		background-color: var(--Purple);
		text-decoration: none;
	}

	&.is-yellow {
		background-color: var(--Orange);

		&:hover,
		&:focus {
			background-color: var(--DarkOrange);
		}
	}

	&.is-blue {
		background-color: var(--Turquoise);

		&:hover,
		&:focus {
			background-color: var(--DarkTurquoise);
		}
	}

	&.is-green {
		background-color: var(--Green);

		&:hover,
		&:focus {
			background-color: var(--DarkGreen);
		}
	}

	&.has-icon {
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;

		& img,
		& svg {
			width: 17px;
			height: 17px;
			display: inline-block;
			fill: var(--Purple);
			filter: brightness(1) invert(0);
			transition: all 0.35s linear;

			&:first-child {
				margin-right: 12px;
			}

			&:last-child {
				margin-left: 12px;
			}
		}

		&:hover,
		&:focus {

			& img,
			& svg {
				filter: brightness(0) invert(1);
				fill: var(--White);
			}
		}
	}

	&.is-arrow {
		background: transparent;
		color: var(--PurpleTransparent);
		position: relative;
		padding-left: 0;

		&:after {
			position: absolute;
			right: 0;
			top: calc(50% - 8px);
			content: "";
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 12px solid var(--PurpleTransparent);
			transition: all .35s linear;
		}

		&:hover,
		&:focus {
			background: transparent;
			text-decoration: none;
			color: var(--Purple);

			&::after {
				border-left-color: var(--Green);
			}
		}
	}
}

/*----------------------------------------------------------------*\
	MULTIPLE BUTTONS
\*----------------------------------------------------------------*/
button,
.button {

	&+button,
	&+.button {
		margin-left: var(--Inbetween);
	}
}