/*----------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------*/


/*---------------------------------------*\
  FORM STRUCTURE
\*---------------------------------------*/
form {
	max-width: 640px;
	margin: 0 auto;

	& ul.gform_fields {
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;

		&>li {
			position: relative;
			padding: 0;
			margin: var(--Medium) 0;
			line-height: 1.5;
			background-image: none;

			&::before {
				display: none;
			}

			& hr {
				margin: var(--Large) auto;
			}
		}
	}

	& .gfield {
		margin: var(--Medium) 0;
	}

	& fieldset {
		border: 0;
		padding: 0;
	}
}

.gform_validation_container {
	display: none;
}

.recaptcha-wrapper {
	margin: 0 !important;
}

.gform_footer button {
	margin: 24px 0 0 0;
}

/*---------------------------------------*\ 
	HIDDEN FIELDS
\*---------------------------------------*/
.gform_validation_container,
.gfield_visibility_hidden {
	display: none;
}

/*---------------------------------------*\ 
	FORM PAGINATION
\*---------------------------------------*/
.gf_page_steps {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 0 16px 0;
	margin: 0 0 32px 0;
	border-bottom: 2px solid var(--Black);

	& .gf_step {
		padding: 0 8px;
	}

	& .gf_step_number {
		font-size: 16px;
		font-weight: bold;
		color: var(--Black);
	}

	& .gf_step_label {
		font-size: 16px;
		font-weight: 500;
		color: var(--Black);
	}

	& .gf_step_active .gf_step_number,
	& .gf_step_active .gf_step_label {
		color: var(--Black);
	}

	& .gf_step_clear {
		display: none;
	}
}

.gform_page_footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 48px auto 0 auto;

	& input {
		width: auto;
		margin: 0;
		margin: 0 24px 0 0;
		color: var(--Black);
		background-color: #8E8EAC;

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--Black);
		}
	}
}

/*---------------------------------------*\
    SECTION TITLES
\*---------------------------------------*/
.gsection_title {
	padding: 4px 64px 4px 8px;
	margin: 64px 0 0 0;
	font-size: 24px;
	background-color: #8E8EAC;

	&+.gsection_description {
		padding: 8px 64px 0 0;
		font-size: 14px;
		line-height: 1.3;
	}
}

form ul>li:first-child .gsection_title {
	margin-top: 0;
}

/*---------------------------------------*\
  LABELS & Descriptions
\*---------------------------------------*/
form label,
form legend {
	display: inline-block;
	margin-bottom: var(--xSmall);
	font-size: 16px;
	font-weight: 500;

	& span.gfield_required {
		display: none;
	}
}

.hidden_label>label {
	display: none;
}

ul.gform_fields>li:not(.gfield_contains_required):not(.gfield_price)>label:not(.file-upload-label),
.gform_fields>fieldset:not(.gfield_contains_required):not(.gfield_price)>legend:not(.file-upload-label) {
	&::after {
		display: inline-block;
		margin-left: 0.35em;
		font-size: 0.875em;
		color: var(--Black);
		content: '(optional)';
	}
}

::placeholder {
	color: var(--Black);
}

.gfield_description,
.ginput_counter,
.screen-reader-text,
.ginput_container .instruction,
.gform_fileupload_rules {
	padding: 8px 0 0 8px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
	color: #8E8EAC;
	letter-spacing: 0.5px;
}

.field_description_above .gfield_description {
	color: #8E8EAC;
}

label+.gfield_description {
	padding: 0;
	margin: 0 0 8px 0;
	font-size: 14px;
	line-height: 1.3;
}

/*---------------------------------------*\
  VALIDATION MESSAGES
\*---------------------------------------*/
li.gfield_error {
	& label {
		color: #fa2f48;
	}

	& input,
	& textarea,
	& select {
		border-color: #fa2f48;
	}

	& .validation_message {
		color: #fa2f48;
	}

	& .ginput_container {
		position: relative;

		&::after {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 4;
			display: block;
			width: 24px;
			height: 24px;
			content: '';
			background-image: url(../images/input_error.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}

.validation_message {
	padding: 8px 0 0 8px;
	font-size: 12px;
	line-height: 1;
	color: #fa2f48;
	letter-spacing: 0.5px;

	& ul li {
		padding: 0;
		line-height: 1;
		color: #fa2f48;
		background-image: none;
	}
}

.validation_message--hidden-on-empty {
	margin: 0;
	padding: 0;
}

/*---------------------------------------*\
  INPUT
\*---------------------------------------*/
input {
	width: 100%;
	padding: 0.75em;
	border: 2px solid var(--Grey);

	&:focus {
		border-color: var(--PurpleTransparent);
	}
}

/*---------------------------------------*\
  TEXTAREA
\*---------------------------------------*/
textarea {
	width: 100%;
	padding: 0.75em;
	border: 2px solid var(--Grey);

	&.small {
		max-height: 100px;
	}

	&.medium {
		max-height: 150px;
	}

	&.large {
		max-height: 200px;
	}

	&:focus {
		border-color: var(--PurpleTransparent);
	}
}

/*---------------------------------------*\
  SELECT
\*---------------------------------------*/
select {
	width: 100%;
	padding: 0.75em;
	background-image: url(../images/select_arrow.svg);
	background-repeat: no-repeat;
	background-position: top 11px right 8px;
	background-size: 24px;
	border: 2px solid var(--Grey);

	-webkit-appearance: none;
	-moz-appearance: none;

	&:focus {
		border-color: var(--PurpleTransparent);
	}

	&.has-placeholder {
		color: var(--Black);
	}
}

li.gfield_error .ginput_container_select::after {
	right: 40px;
}

/*---------------------------------------*\
  RADIO
\*---------------------------------------*/
.gfield_radio {
	padding: 0 0 0 8px;
	margin: var(--xSmall) 0 0 0;

	& .gchoice {
		display: inline-flex;
		align-items: center;
		width: auto;
		padding: 0;
		margin: 0 1em 1em 0;
		line-height: 1;
		background-image: none;

		@media(--phone) {
			width: 100%;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			display: none;
		}

		& label {
			padding: 0;
			margin: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5;
			color: var(--Black);
			letter-spacing: 0.5px;
			vertical-align: middle;
			cursor: pointer;
		}

		& input[type="radio"] {
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			margin-right: 4px;
			margin-right: 6px;
			vertical-align: middle;
			cursor: pointer;
			border: 2px solid #8e8eac;
			border-radius: 50%;

			-webkit-appearance: none;
			-moz-appearance: none;

			&:checked {
				background-color: var(--Green);
				border-color: var(--Green);

				&+label {
					color: var(--Black);
				}
			}
		}

		& input[type="text"] {
			padding: 4px;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			color: var(--Black);
			background: transparent;
			border: 1.5px solid var(--Black);
			border-radius: 4px;
			box-shadow: none;
		}
	}
}

.two-column ul.gfield_radio {
	column-count: 2;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

.three-column ul.gfield_radio {
	column-count: 3;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

/*---------------------------------------*\
  CHECKBOXES
\*---------------------------------------*/
.gfield_checkbox {
	padding: 0 0 0 8px;
	margin: var(--xSmall) 0 0 0;

	& .gchoice {
		display: inline-flex;
		align-items: center;
		width: auto;
		padding: 0;
		margin: 0 1em 1em 0;
		line-height: 1;
		background-image: none;

		@media(--phone) {
			width: 100%;
		}

		&::before {
			display: none;
		}

		&:last-child {
			margin-bottom: 0;
		}

		& label {
			position: relative;
			padding: 0;
			margin: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5;
			color: var(--Black);
			letter-spacing: 0.5px;
			vertical-align: middle;
			cursor: pointer;

			&::before {
				position: absolute;
				top: 1px;
				left: -28px;
				display: block;
				width: 18px;
				height: 18px;
				content: '';
				background-image: url(../images/checkmark-white.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				opacity: 0;
				transition: all 0.15s linear;
			}
		}

		& input[type="checkbox"] {
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			margin-right: 8px;
			vertical-align: middle;
			cursor: pointer;
			border: 2px solid #8e8eac;

			-webkit-appearance: none;
			-moz-appearance: none;

			&:checked {
				background-color: var(--Green);
				border-color: var(--Green);

				&+label {
					color: var(--Black);

					&::before {
						opacity: 1;
					}
				}
			}
		}

		& input[type="text"] {
			padding: 4px;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			color: var(--Black);
			background: transparent;
			border: 1.5px solid var(--Black);
			border-radius: 4px;
			box-shadow: none;
		}
	}
}

.two-column ul.gfield_checkbox {
	column-count: 2;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

.three-column ul.gfield_checkbox {
	column-count: 3;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

/*---------------------------------------*\ 
	SMART FIELDS
\*---------------------------------------*/
.ginput_complex,
.clear-multi {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

	& .name_first,
	& .name_middle,
	& .name_last {
		width: 31%;
	}

	&.no_middle_name .name_first,
	&.no_middle_name .name_last {
		width: 48%;
	}

	& .address_line_1,
	& .address_line_2 {
		width: 100%;
	}

	& .address_city,
	& .address_state,
	& .address_zip {
		width: 31%;
	}

	& .gfield_time_hour,
	& .gfield_time_minute,
	& .gfield_time_ampm {
		width: 31%;
	}

	& span label:last-child,
	& label {
		display: block;
		padding: 0 0 0 8px;
		margin: 6px 0 12px 0;
		font-size: 12px;
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.5px;
	}

	& span label:last-child {
		margin: 6px 0 0 0;
	}

	& i {
		display: none;
	}
}

/*---------------------------------------*\ 
	FILE UPLOAD 
\*---------------------------------------*/

.gform_drop_area {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	margin: 0 8px;
	border: 2px dashed #8e8eac;

	& .gform_drop_instructions {
		margin-right: 8px;
	}

	& input {
		display: inline-block;
		width: auto;
		padding: 6px 16px;
		margin: 0 0 0 16px;
		font-size: 14px;
		color: var(--Black);
		text-transform: none;
		background-color: #8e8eac;
		box-shadow: none;

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--Black);
		}
	}
}

.ginput_preview {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 0 0 8px;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.5px;

	& strong {
		font-weight: 500;
	}

	& img {
		margin-right: 6px;
		vertical-align: middle;
		cursor: pointer;
	}
}

.gform_fileupload_multifile+span.screen-reader-text {
	position: relative !important;
	overflow: visible;
	clip: auto;
}

/*---------------------------------------*\
  DATE
\*---------------------------------------*/
.ui-datepicker {
	padding: 8px;
	background-color: var(--GreyLight);
	border: 2px solid var(--Black);

	& .ui-datepicker-header {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;

		&>a {
			margin: 0 0 8px 0;
			font-size: 12px;
			color: var(--Black);
		}

		& .ui-datepicker-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 8px;

			& select {
				width: 48%;
				padding: 8px 4px;
				font-size: 14px;
				background-position: center right;
				border: 1px solid var(--Black);
			}
		}
	}

	& .ui-datepicker-calendar {
		width: 100%;
		border-collapse: collapse;
		background: white;
		border: 1px solid var(--Black);

		& th,
		& td {
			border: 1px solid var(--Black);
		}

		& thead span {
			font-weight: 500;
		}

		& td {
			text-align: center;

			& a {
				display: block;
				padding: 6px 4px;
				margin: 0;
				line-height: 1;
				color: var(--Black);
				text-decoration: none;

				&:hover,
				&:focus {
					color: var(--PurpleTransparent);
				}
			}
		}
	}
}

.ginput_container_date img.ui-datepicker-trigger {
	position: absolute;
	top: 8px;
	right: 8px;
}

/*---------------------------------------*\
  CONSENT
\*---------------------------------------*/
.ginput_container_consent {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: var(--Medium);

	& input {
		flex-shrink: 0;
		width: 16px;
		height: 16px;
		margin-top: 2px;
		vertical-align: middle;
		cursor: pointer;
		border: 2px solid var(--Black);
		border-radius: 5px;

		-webkit-appearance: none;
		-moz-appearance: none;

		&:checked {
			background-color: var(--Green);
			border-color: var(--Green);

			&+label {
				color: var(--Black);

				&::before {
					opacity: 1;
				}
			}
		}
	}

	& label {
		position: relative;
		top: -1px;
		display: inline-block;
		width: 100%;
		padding: 0 0 0 8px;
		line-height: 1.5;
		text-transform: none;

		&::before {
			position: absolute;
			top: 5.5px;
			left: -13px;
			display: block;
			width: 11px;
			height: 11px;
			content: '';
			background-image: url(../images/checkmark-white.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			opacity: 0;
			transition: all 0.15s linear;
		}

		&+.gfield_required {
			display: none;
		}
	}

	&+.gfield_consent_description {
		padding: 8px 0 0 24px;
		color: var(--Black);
	}
}

/*---------------------------------------*\
  reCaptcha
\*---------------------------------------*/
.grecaptcha-badge {
	z-index: 1000;
}

/*---------------------------------------*\
  STRIPE
\*---------------------------------------*/
.ginput_container_creditcard .ginput_full {
	width: 100%;
}

/*---------------------------------------*\
  COUPON
\*---------------------------------------*/
.gf_coupon_wrapper .ginput_container {
	display: flex;

	& input.button {
		width: 100px;
	}

	& .gf_coupon_code {
		width: 300px;
	}

}