/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul,
ol {
	margin: var(--Medium) auto;

	& li {
		margin: var(--Small) 0;
	}
}

nav ul li::before {
	display: none;
}

/*-----------------------------------*\
	UNORDERED LIST
\*-----------------------------------*/
ul {
	padding-left: 1em;
	list-style: none;

	@media(--phone) {
		padding-left: 2em;
	}

	& li:not(.is-button) {
		position: relative;
		padding-left: 20px;
		margin: 12px 0;

		&::before {
			position: absolute;
			top: 7px;
			left: 0;
			display: inline-block;
			width: 12px;
			height: 12px;
			content: '';
			background-image: url('../images/bullet.svg');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}

/*-----------------------------------*\
	ORDERED LIST
\*-----------------------------------*/
ol {
	padding-left: 1em;
	margin: var(--Large) auto;
	list-style: none;
	counter-reset: number-counter;

	@media(--phone) {
		padding-left: 2em;
	}

	& li:not(.is-button) {
		margin: var(--Small) 0;
		counter-increment: number-counter;

		&:before {
			display: inline-block;
			margin-right: var(--Medium);
			font-size: 24px;
			font-weight: bold;
			color: var(--Yellow);
			vertical-align: middle;
			content: counter(number-counter);
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
&.has-2-columns {
	column-count: 1;

	@media(--phone) {
		column-count: 2;

		& li {
			padding-right: 1em;
		}
	}
}

&.has-3-columns {
	column-count: 1;

	@media(--phone) {
		max-width: 1024px;
		margin: 4em auto;
		column-count: 3;

		& li {
			padding-right: 1em;
		}
	}
}

&.has-4-columns {
	column-count: 1;

	@media(--phone) {
		column-count: 2;

		& li {
			padding-right: 1em;
		}
	}

	@media(--tablet) {
		max-width: 1024px;
		margin: 4em auto;
		column-count: 4;
	}
}