/*----------------------------------------------------------------*\
		MODAL
\*----------------------------------------------------------------*/
.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999999;
}

.modal__container {
	background-color: #fff;
	padding: var(--Inbetween) var(--Large);
	max-width: 640px;
	width: 90%;
	max-height: 100vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header.modal__header h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	font-size: 20px;
	color: var(--Purple);
	box-sizing: border-box;
}

header.modal__header button.modal__close {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	z-index: 2;
	font-size: 18px;
	font-weight: 600;

	&:hover,
	&:focus {
		background: transparent;
		color: var(--Purple);
	}

	&::before {
		content: "\2715";
	}
}

.modal__content {
	margin: var(--Medium) 0;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		color: var(--Black);
		line-height: 1.4;
	}

	&.newsletter {
		& form {
			margin: var(--Large) 0 0 0;
			position: relative;

			& ul.gform_fields {
				& li {
					margin: var(--Small) 0;
				}
			}

			& .validation_message,
			& .validation_error,
			& li.gfield_error .ginput_container:after {
				display: none;
			}

			& #field_3_10 {
				@media(--phone) {
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}

				&>label {
					width: 100%;
					margin: 0 var(--Medium) 0 0;

					@media(--phone) {
						width: auto;
					}
				}

				& .ginput_container_radio {
					display: contents;
				}

				& ul {
					display: inline-flex;
					padding: 0;
					margin: 0;

					& li {
						margin: var(--Small) var(--Inbetween) var(--Medium) 0;

						@media(--phone) {
							margin: 0 var(--Medium) 0 0;
						}

						&:last-child {
							margin: var(--Small) 0 var(--Medium) 0;

							@media(--phone) {
								margin: 0;
							}
						}
					}
				}
			}

			& .gfield_radio {
				& input {
					border-color: var(--Green);
					background-color: var(--White);

					&:checked {
						background-color: var(--Green);
					}
				}
			}

			& input[type='email'] {
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
				border-color: var(--Grey);
				color: var(--Purple);
				background-color: var(--Grey);
			}

			& p.legal {
				font-size: 13px;

				& a {
					color: var(--Purple);
					font-weight: 400;
				}
			}

			& button {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				position: absolute;
				right: 0;
				top: 48px;
				height: 46px;

				@media(--phone) {
					top: 5px;
				}
			}
		}
	}
}




/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}