/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/WorkSans-Light.woff2') format('woff2'),
		url('../fonts/WorkSans-Light.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
		url('../fonts/WorkSans-Regular.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/WorkSans-Medium.woff2') format('woff2'),
		url('../fonts/WorkSans-Medium.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/WorkSans-SemiBold.woff2') format('woff2'),
		url('../fonts/WorkSans-SemiBold.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/WorkSans-Bold.woff2') format('woff2'),
		url('../fonts/WorkSans-Bold.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/WorkSans-ExtraBold.woff2') format('woff2'),
		url('../fonts/WorkSans-ExtraBold.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Karla-Regular.woff2') format('woff2'),
		url('../fonts/Karla-Regular.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Karla-Bold.woff2') format('woff2'),
		url('../fonts/Karla-Bold.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Grifter';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/GRIFTERBold.woff2') format('woff2'),
		url('../fonts/GRIFTERBold.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
		url('../fonts/Oswald-Regular.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
		url('../fonts/Oswald-Medium.woff') format('woff');

	font-display: swap;
}

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
		url('../fonts/Oswald-Bold.woff') format('woff');

	font-display: swap;
}


/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: .75em;
	color: var(--Purple);
	font-weight: 600;
	line-height: 1.2;
}

h1 {
	font-size: 40px;

	@media(--tablet) {
		font-size: 48px;
	}
}

h2 {
	font-size: 26px;

	@media(--tablet) {
		font-size: 32px;
	}
}

h3 {
	font-size: 20px;

	@media(--tablet) {
		font-size: 24px;
	}
}

h4 {
	font-size: 18px;

	@media(--tablet) {
		font-size: 20px;
	}
}

h5,
h6 {
	font-size: 18px;

	@media(--tablet) {
		font-size: 18px;
	}
}

/*-----------------------------------*\
	INLINE LINKS
\*-----------------------------------*/
p a:not(.button),
h2 a:not(.button),
h3 a:not(.button),
h4 a:not(.button),
h5 a:not(.button),
h6 a:not(.button) {
	color: var(--Orange);
	font-weight: 500;
	transition: all 0.15s linear;

	&:hover,
	&:focus {
		text-decoration: underline;
		color: var(--DarkOrange);
	}
}

/*-----------------------------------*\
	BOLD
\*-----------------------------------*/
p strong,
p b {
	font-weight: 600;
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	width: 50%;
	height: 2px;
	margin: var(--xLarge) auto;
	background-color: var(--Green);
	border: none;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	padding: var(--Inbetween) var(--Large);
	background-color: var(--Grey);
	border-top: 6px solid var(--PurpleTransparent);
	max-width: 640px;
	width: 100%;
	margin: var(--Large) auto;
	position: relative;
	overflow: hidden;

	@media(--phone) {
		width: 85%;
	}

	@media(--tablet) {
		transform: translatex(15%);
		width: 100%;
	}

	&::before {
		position: absolute;
		display: block;
		font-size: 400px;
		color: rgba(36, 35, 98, .3);
		opacity: .3;
		content: "“";
		line-height: 0;
		top: 134px;
		left: -32px;
	}

	& p {
		font-size: 18px;
	}

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}