/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
/*----------------------------------------------------------------*\
		PRIMARY FOOTER
\*----------------------------------------------------------------*/

footer#footer {
	position: relative;
	padding: var(--Large);
	background-color: var(--Purple);
	margin-top: 120px;

	@media(--tablet) {
		padding: var(--Large) var(--Large) var(--xLarge) var(--Large);
	}

	& p {
		color: var(--White);
	}

	& ul {
		padding: 0;
		margin: 0;
		list-style: none;

		& li {
			width: 100%;
			padding: 0;
			margin: 0;

			&::before {
				display: none;
			}
		}
	}

	& a {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;
		margin: 4px 0;
		color: var(--White);
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	& .brand {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		@media(--phone) {
			justify-content: space-between;
		}

		& .contact {
			display: flex;
			flex-wrap: wrap;

			& a {
				font-size: 14px;
				line-height: 1;
			}

			& svg#logo {
				width: 165px;
				height: 60px;
				margin: 0;
				fill: var(--White);
				flex-shrink: 0;
			}
		}

		& .social-links {
			display: flex;
			flex-shrink: 0;
			margin: var(--Small) 0 var(--Large) 0;

			@media(--phone) {
				margin: 0;
			}

			& a {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 12px;
				margin: 0 var(--Medium) 0 0;
				border-radius: 50%;
				/* box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.5); */
				transition: 0.25s all linear;

				&:last-child {
					margin: 0;
				}

				& svg {
					width: 24px;
					height: 24px;
					margin: 0;
					fill: var(--White);
				}
			}
		}
	}

	& .navigations {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
		grid-gap: 0;
		align-items: start;
		max-width: 1400px;
		margin: 0 auto;

		@media(--phone) {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 24px;
		}

		@media(--tablet) {
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: auto;
		}

		& h4 {
			color: var(--White);
		}

		& li.has-icon {
			& a {

				&::before {
					content: '';
					display: inline-block;
					width: 18px;
					height: 18px;
					margin: 0 var(--Small) 0 0;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}
			}

			&.is-phone {
				& a {
					&::before {
						background-image: url('../images/icon-phone.svg');
					}
				}
			}

			&.is-email {
				& a {
					&::before {
						height: 15px;
						background-image: url('../images/icon-email.svg');
					}
				}
			}

			&.is-location {
				& a {
					line-height: 1;
					margin: 8px 0;


					&::before {
						background-image: url('../images/icon-location.svg');
					}
				}
			}
		}
	}

	& .legal {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: var(--xLarge);

		@media(--phone) {
			justify-content: space-between;
		}

		& p {
			max-width: 500px;
			margin: 0;

			& span {
				font-size: 14px;
				display: block;
			}
		}

		& nav {
			width: 100%;
			order: -1;
			margin: 0 0 var(--Medium) 0;

			@media(--tablet) {
				width: auto;
				order: 2;
				margin: 0;
			}

			& ul {

				@media(--phone) {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				& li {
					width: auto;
					margin: 0 var(--Medium) 0 0;

					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}
}