/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	padding: 72px 0 0 0;

	& nav.breadcrumbs {
		margin: 0 0 40px 0;

		& a,
		& .breadcrumb_last {
			color: inherit;
		}
	}

	& h1 {
		margin: 0;
		color: inherit;
	}

	& p {
		margin-bottom: 0;
		color: inherit;
	}
}