/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.card-grid {
	&>div:not(.card) {
		grid-column: 1 / -1;
		margin: 0;

		& h2 {
			font-size: 32px;
			width: 90%;
			max-width: 800px;

			@media(--tablet) {
				font-size: 40px;
			}
		}

		& p {
			width: 90%;
			max-width: 800px;
		}

		& h2,
		& p {
			margin: 0;
		}
	}

	& .card {
		position: relative;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: var(--Inbetween) var(--Inbetween) var(--Medium) var(--Inbetween);
		width: 100%;
		background-color: var(--Grey);

		&.has-image {
			background-color: var(--White);
			box-shadow: 0 15px 30px 0 rgba(36, 35, 98, .2)
		}

		&>* {
			flex: 0 0 auto;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& figure {
			margin: 0;
			position: relative;
			width: calc(100% + 48px);
			padding-top: 56.25%;
			margin-left: -24px;
			margin-top: -24px;

			&>div {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				display: block;
				z-index: 2;
				opacity: .6;
			}

			& img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		& h3 {
			margin-top: var(--Medium);
			margin-bottom: 0;

			&:first-child {
				margin-top: 0;
			}
		}

		& p {
			flex: 1 1 auto;
			font-size: 14px;

			&:last-child {
				margin-bottom: var(--Medium);
			}
		}

		& a.button {
			margin: 0;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 24px;
	margin: var(--xLarge) auto;


	@media(--phone) {

		&.columns-2,
		&.columns-3,
		&.columns-4 {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media(--tablet) {
		grid-gap: 48px;

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

/*-----------------------------------*\
	PARTNER DISCOUNTS
\*-----------------------------------*/
body.page-id-60197 {
	& section.card-grid {
		& figure img {
			padding: var(--xSmall);
			object-fit: contain;
			max-width: 175px;
			margin: 0 auto;
		}
	}
}