/*-----------------------------------*\
	COVER
\*-----------------------------------*/
.cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--xLarge) 0;
	min-height: 30vh;

	&.has-overlay {
		& p {
			font-weight: 600;
			font-size: 18px;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--White);
			opacity: .66;
		}
	}

	&>div {
		width: 80%;
		max-width: 1200px;
		position: relative;
		z-index: 2;

		&>* {
			max-width: 640px;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& h2,
		& h3,
		& h4,
		& h5,
		& h6,
		& p,
		& li {
			color: inherit;
		}

		& p+a.button {
			margin-top: 16px;
		}
	}

	&.is-standard,
	&.is-narrow {
		&>div>* {
			max-width: 460px;
		}
	}
}