/*-----------------------------------*\
	FEATURED CONTENT
\*-----------------------------------*/
section.featured-content {
	& .quote {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 200px;

		@media(--tablet) {
			padding-left: var(--Inbetween);
		}

		&>img {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
			z-index: 2;

			@media(--tablet) {
				width: calc(100% - 200px);
			}
		}

		&::after {
			content: '';
			display: none;
			position: absolute;
			top: 0;
			right: 48px;
			height: 100%;
			width: 200px;
			background-image: url('../images/FeaturedArticle_Pattern.png');
			background-size: contain;
			background-position: center left;
			background-repeat: no-repeat;

			@media(--tablet) {
				display: block;
			}
		}

		&>div {
			padding: var(--Medium) var(--Medium) var(--Inbetween) var(--Medium);
			background-color: var(--Grey);
			box-shadow: 0 12px 24px 0 rgba(36, 35, 98, 0.5);
			position: relative;
			z-index: 2;
			margin-left: auto;
			max-width: 500px;
			display: none;
			transition: all 0.6s ease-in;

			&[data-emergence=hidden] {
				left: -250px;
				opacity: 0;
			}

			&[data-emergence=visible] {
				left: 0;
				opacity: 1;
			}

			@media(--tablet) {
				display: block;
				margin: 120px 0 120px auto;
			}

			& p {
				margin: 0;
				font-size: 18px;
				font-weight: 500;
			}
		}

		& .author {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			margin-top: var(--Inbetween);

			& img {
				width: 52px;
				height: 52px;
				border: 1px solid var(--Green);
				border-radius: 50%;
				object-fit: cover;
				object-position: center;

				&+p {
					margin: 0 0 0 var(--Medium);
				}
			}

			& p {
				font-size: 13px;
				line-height: 1.2;
				margin: 0 0 0 0;
			}
		}
	}

	& .content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		& h2 {
			margin: 0 0 12px 0;
			font-size: 30px;

			@media(--tablet) {
				font-size: 38px;
			}

			& span {
				display: block;
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 12px;
				text-transform: uppercase;
				color: var(--PurpleTransparent);
			}

			&+p {
				margin-top: 0;
			}
		}


		& a.button {
			padding: var(--Small) var(--Medium);
			margin-top: var(--Small);
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.featured-content {
	display: grid;
	grid-gap: var(--Inbetween);
	grid-template-columns: 1fr;

	@media(--tablet) {
		grid-template-columns: 3fr 2fr;
		grid-gap: 120px;
	}
}