/*-----------------------------------*\
	ICON LIST
\*-----------------------------------*/
section.icon-list {
	position: relative;
	background-color: var(--Grey);

	@media(--tablet) {
		background-color: transparent;
	}

	& .graphic {
		display: none;

		@media(--tablet) {
			display: block;
			position: relative;
		}

		& img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	& .list {
		padding: var(--xLarge) 0;
		margin: 0 auto;
		max-width: 500px;
		width: 90%;

		@media(--tablet) {
			padding: var(--xLarge) 0 var(--xLarge) var(--xLarge);
			margin: 0;
			max-width: 564px;
		}

		& h2 {
			margin: 0 0 52px 0;
		}

		& ul {
			list-style: none;
			margin: 0;
			padding: 0;

			& li {
				display: flex;
				flex-wrap: wrap;
				margin: 0;
				padding: var(--Large) 0;
				justify-content: space-between;
				align-items: flex-start;
				border-top: 1.5px solid var(--PurpleTransparent);

				@media(--tablet) {
					border-top: 1.5px solid var(--Grey);
				}

				&::before {
					display: none;
				}

				& img {
					width: 28px;
					height: 28px;
					object-fit: contain;
					object-position: center;
					flex-shrink: 0;
				}

				&>div {
					width: 100%;

					@media(--tablet) {
						width: calc(100% - 64px);
					}

					& h4 {
						margin: var(--Medium) 0 var(--Small) 0;

						@media(--tablet) {
							margin: 0 0 var(--Small) 0;
						}
					}

					& p {
						margin: 0;
					}
				}
			}
		}
	}
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
section.icon-list {
	@media(--tablet) {
		&.has-image-on-right {
			&>div:first-child {
				order: 2;
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.icon-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px 0;

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}