/*-----------------------------------*\
	LOGO GRID
\*-----------------------------------*/
section.logo-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 32px;
	margin: var(--xLarge) auto;
	align-items: center;

	& h3 {
		grid-column: 1 / -1;
		margin: 0;
		text-align: center;
	}

	& img {
		width: 100%;
		height: auto;
		max-height: 80px;
		object-fit: contain;
		object-position: center;
	}

	&.columns-3,
	&.columns-6 {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 24px;

		@media(--tablet) {
			grid-gap: 32px;
		}
	}

	@media(--tablet) {
		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media(--tablet) {
		&.columns-5 {
			grid-template-columns: repeat(5, 1fr);
		}

		&.columns-6 {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}