/*-----------------------------------*\
	NEWSLETTER
\*-----------------------------------*/
section.newsletter {
	position: relative;
	padding: var(--xLarge) 0;
	background-image: url('../images/subta-pattern-2.png');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 96px;

	&::before {
		content: '';
		display: block;
		background-image: url('../images/icon-logo.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 64px;
		height: 64px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	& h2 {
		text-align: center;
		margin: 0;

		&+p {
			text-align: center;
			margin: var(--Small) 0 0 0;
		}
	}

	& .gform_wrapper:not(:first-child) form {
		margin-top: var(--Large);
	}

	& form {
		background: var(--White);
		padding: var(--Small) var(--Large) var(--Large) var(--Large);
		box-shadow: 0 8px 24px 0 rgb(36 35 98 / 20%);
	}
}

/*-----------------------------------*\
	SPACING
\*-----------------------------------*/
section.icon-list+section.newsletter {
	margin-top: -64px;
	background-image: none;

	@media(--tablet) {
		background-image: url('../images/subta-pattern-2.png');
	}
}

section.newsletter:last-child {
	margin-bottom: -120px;
}