/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.post-grid {
	& article {
		background-color: var(--Grey);
		background-size: cover;
		background-position: center;
		padding: var(--Inbetween);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;

		&>* {
			max-width: 700px;
			position: relative;
			z-index: 2;
		}

		&.has-overlay::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(36, 35, 98, 0.1) 0%, rgba(36, 35, 98, 0.9) 75%);
		}

		&:not(.has-no-background) {

			& h2,
			& p,
			& li span {
				color: var(--White);
			}
		}

		& img.logo {
			height: 120px;
			width: 300px;
			max-width: 100%;
			object-fit: contain;
			object-position: center left;
			margin-bottom: auto;
		}

		& h2 {
			font-weight: 500;
			margin: 96px 0 12px 0;
			font-size: 28px;

			&:nth-child(2) {
				margin: var(--Large) 0 12px 0;
			}

			& span {
				display: block;
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 12px;
				text-transform: uppercase;
			}

			&+p {
				display: none;
				margin-top: 0;

				@media(--tablet) {
					display: block;
				}
			}

			&+.author {
				margin-top: 12px;
			}
		}

		& ul {
			margin: 0;
			padding: 0;

			& li {
				padding: 0;
				margin: 0 0 var(--Small) 0;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				&::before {
					display: none;
				}

				& img {
					width: 18px;
					height: 18px;
					object-fit: contain;
					object-position: center;
					margin: 0 var(--Small) 0 0;
				}

				& span {
					line-height: 1;
					font-size: 13px;
				}
			}
		}

		& .author {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			margin-top: var(--Inbetween);

			& img {
				width: 52px;
				height: 52px;
				border: 1px solid var(--Green);
				border-radius: 50%;
				object-fit: cover;
				object-position: center;

				&+p {
					margin: 0 0 0 var(--Medium);
				}
			}

			& p {
				font-size: 13px;
				line-height: 1.2;
				margin: 0 0 0 0;
			}
		}

		& a.button {
			padding: var(--Small) var(--Medium);
			margin-top: var(--Large);
		}
	}

	& .link-list {
		order: 2;

		@media(--tablet) {
			order: 0;
		}

		& h2 {
			font-size: 20px;
			margin: 0;

			@media(--tablet) {
				font-size: 24px;
			}
		}

		& ul {
			padding: 0;
			margin: var(--Small) 0 0 0;

			& li {
				margin: 0;
				padding: var(--Medium) 0;
				border-bottom: 1.5px solid var(--Grey);

				&:last-child {
					border: 0;
				}

				&::before {
					display: none;
				}

				& a {
					text-decoration: none;
					color: var(--Purple);

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}

		& a.button {
			font-weight: 400;
			text-transform: capitalize;
			padding-right: var(--Inbetween);

			&::after {
				top: calc(50% - 5px);
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-left: 8px solid var(--PurpleTransparent);
				transition: all 0.35s linear;
			}

			&:hover,
			&:focus {
				text-decoration: none;

				&::after {
					right: -4px;
					border-left: 8px solid var(--Green);
				}
			}
		}
	}

	& .grid-system-row.one-by-two {
		& article:first-child {
			&>p {
				display: none;
			}

			& ul {
				display: none;
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.post-grid {
	& .grid-system {
		display: grid;
		grid-gap: var(--Inbetween);
	}

	& .grid-system-row {
		display: grid;
		grid-gap: var(--Inbetween);
		grid-template-columns: 1fr;

		@media(--tablet) {
			&.one-by-two {
				grid-template-columns: 1fr 2fr;
			}

			&.two-by-one {
				grid-template-columns: 2fr 1fr;
			}

			&.one-by-one-by-one {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
}