/*-----------------------------------*\
	PRICE + TEXT
\*-----------------------------------*/
.price-text {

	&>div {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&>*:first-child {
			margin-top: 0;
		}
	}
}

/*-----------------------------------*\
	CARD ALIGNMENT
\*-----------------------------------*/
.price-text {
	@media(--tablet) {
		&.has-card-on-right {
			&>div:first-child {
				order: 2;
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.price-text {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	grid-gap: 32px 64px;

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}