/*-----------------------------------*\
	CARD GRID
\*-----------------------------------*/
section.price-card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	margin-top: 80px;

	&>div {
		background-color: #F1F1F7;
		box-shadow: none;

		&.is-recommended {
			background-color: var(--White);
			box-shadow: 0 15px 30px 0 rgba(36, 35, 98, .2);
		}
	}

	@media(--phone) {

		&.columns-2,
		&.columns-3,
		&.columns-4 {
			grid-template-columns: repeat(2, 1fr);
		}

	}

	@media(--tablet) {
		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

/*-----------------------------------*\
	PRICE CARDS
\*-----------------------------------*/
.price-cards>div {
	position: relative;
	display: flex;
	align-self: flex-start;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: var(--Large) var(--Medium);
	text-align: center;
	background-color: var(--White);
	border-top: 8px solid var(--Turquoise);
	box-shadow: 0 15px 30px 0 rgba(36, 35, 98, .2);

	&.is-recommended {
		border-color: var(--Green);
	}

	&>* {
		flex: 0 0 auto;
	}

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& .recommend-label {
		position: absolute;
		top: 0;
		left: 16px;
		transform: translateY(-100%);
		background-color: var(--Green);
		color: var(--White);
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		padding: 2px 12px 8px 12px;
	}

	& h2 {
		margin: 0;
		color: var(--Teal);
		font-size: 26px;

		&+p {
			margin: 0;
		}
	}

	& h3 {
		margin: 0;
		font-size: 16px;

		&+p {
			margin: 0;
		}
	}

	& .option {
		&.label {
			text-align: left;
			line-height: 1;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		& svg {
			width: 24px;
			height: 24px;
		}
	}

	& a.button:last-child {
		margin-top: 48px;
	}
}

/*-----------------------------------*\
	OPTION COLUMNS
\*-----------------------------------*/
.price-cards .type-grid {
	display: grid;
	grid-gap: 16px 8px;
	margin: var(--Inbetween) 0 0 0;
	width: 90%;

	&.has-one-type {
		grid-template-columns: 1.75fr 1fr;
	}

	&.has-two-type {
		grid-template-columns: 1.75fr 1fr 1fr;
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.price-cards {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 64px;

	@media(--phone) {
		&.columns-2 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}