/*-----------------------------------*\
	PROFILES + MEDIA
\*-----------------------------------*/
.profile-text {

	&>div {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&>*:first-child {
			margin-top: 0;
		}

		& img {
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
}

/*-----------------------------------*\
	PROFILE ALIGNMENT
\*-----------------------------------*/
.profile-text {
	@media(--tablet) {
		&.has-profiles-on-left {
			&>div:first-child {
				order: 2;
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.profile-text {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	grid-gap: 32px 64px;

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}

/*-----------------------------------*\
	PROFILES
\*-----------------------------------*/
.profiles {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 48px;
	align-items: center;

	& .profile {
		display: grid;
		grid-template-columns: 120px 1fr;
		position: relative;

		&:nth-child(even) {
			@media(--phone) {
				left: 48px;
				width: calc(100% - 48px);
			}
		}

		&>div:nth-child(2) {
			padding-left: 24px;
		}

		& .headshot {
			position: relative;
			display: inline-block;

			& img {
				width: 120px;
				height: 120px;
				object-position: center;
				object-fit: cover;
				border-radius: 4px;
				margin: 0;
				box-shadow: 2px 8px 10px 0 rgba(36, 35, 98, .4);
			}

			& svg {
				width: 24px;
				height: 24px;
				position: relative;
				z-index: 2;
				position: absolute;
				bottom: 4px;
				right: 4px;
			}
		}

		& h3 {
			margin: 16px 0 0 0;
		}

		& p {
			font-size: 14px;
			margin: 0;

			& img {
				display: block;
				margin: var(--Small) 0 0 0;
				height: 32px;
				width: 120px;
				vertical-align: middle;
				object-fit: contain;
				object-position: left center;

				@media(--tablet) {
					display: inline-block;
					height: 24px;
					width: 100px;
					margin: 0 0 0 8px;
				}
			}
		}
	}
}