/*-----------------------------------*\
	RESPONSIVE VIDEO EMBED
\*-----------------------------------*/
section.responsive-video {
	&>div {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		transition: all 0.5s ease-in-out;

		& iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}