/*-----------------------------------*\
	TESTIMONIAL SLIDER
\*-----------------------------------*/
.testimonials {
	position: relative;
	padding: var(--Large) 0 40px 0;
	background-image: url('../images/subta-pattern-2.png');
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 96px;

	& h2,
	&>p {
		text-align: center;
		max-width: 640px;
		margin: 0 auto;
	}

	& .testimonial-slider {
		margin-top: var(--Large);
		position: initial;
	}

	& .slick-slide {
		padding: 0 var(--Inbetween);
	}

	& .slick-dots {
		position: absolute;
		top: calc(100% + 16px);
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 50%;
		transform: translateX(-50%);

		& li {
			padding: 0;
			margin: 0;

			&::before {
				display: none;
			}

			& button {
				overflow: hidden;
				text-indent: -99999px;
				padding: 0;
				width: 16px;
				height: 16px;
				margin: 0 var(--xSmall);
				background-color: var(--PurpleTransparent);

				&:hover,
				&:focus {
					background-color: var(--Purple);
				}
			}

			&.slick-active button {
				background-color: var(--Purple);
			}
		}
	}
}

/*-----------------------------------*\
	TESTIMONIAL
\*-----------------------------------*/
.testimonial {
	padding: var(--Medium);
	background-color: var(--White);
	box-shadow: 0 8px 24px 0 rgba(36, 35, 98, .2);

	&>*:first-child {
		margin-top: 0;
	}

	&>*:flast-child {
		margin-bottom: 0;
	}

	&>p {
		font-size: 18px;
	}

	& .quotee {
		display: flex;
		margin-top: var(--Inbetween);

		& .headshot {
			margin-right: var(--Medium);
			flex-shrink: 0;

			&>img {
				width: 48px;
				height: 48px;
				border-radius: 50%;
				display: inline-block;
			}
		}

		& h3 {
			margin: 0;
			font-size: 16px;
		}

		& p {
			font-size: 14px;
			margin: 0;

			& img {
				display: inline-block;
				vertical-align: middle;
				height: 40px;
				width: 75px;
				margin: 0 0 0 8px;
				object-fit: contain;
				object-position: left top;
				vertical-align: top;
			}
		}
	}
}