/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Inbetween: 24px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Inbetween: 1.5rem;
	--Large: 2rem;
	--xLarge: 4rem;

	--White: #FFFFFF;
	--Grey: #E9E9EF;
	--Black: #25282B;

	--Purple: #242362;
	--PurpleTransparent: rgba(36, 35, 98, 0.5);
	--Green: #68CE6A;
	--DarkGreen: #2C802D;
	--Orange: #F2983C;
	--DarkOrange: #A3580C;
	--Turquoise: #55C0C9;
	--DarkTurquoise: #367A80;
	--Red: #D61313;
	--DarkRed: #82153D;
}