/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
body.archive,
body.blog,
body.page-template-live {
	& header {
		& h1 {
			font-size: 32px;

			@media(--tablet) {
				font-size: 48px;
			}

			& span {
				color: var(--PurpleTransparent);
			}
		}

		& p {
			max-width: 632px;
			margin: var(--Small) 0 0 0;
		}

		& button {
			margin: var(--Inbetween) 0 0 0;
			padding: var(--Small) var(--Medium);
		}

		& nav.post-categories {
			display: flex;
			align-items: flex-start;
			margin: var(--Inbetween) 0 0 0;
			color: var(--PurpleTransparent);

			& span {
				display: none;
				padding-left: 4px;

				@media(--phone) {
					display: inline-block;
				}
			}

			& .option-wrap {
				width: 300px;
				height: 32px;
				overflow: visible;
				z-index: 1;

				& .options {
					width: 300px;
					height: 32px;
					background-color: var(--Grey);
					border-radius: 4px;
					display: flex;
					flex-direction: column;
					overflow: hidden;
					position: relative;
					cursor: pointer;
					margin-left: var(--Small);
					margin-top: -4px;
					opacity: .5;

					&.is-active {
						height: auto;
						opacity: 1;

						&:after {
							transform: rotate(-90deg);
						}
					}

					&:after {
						position: absolute;
						right: 12px;
						top: 10px;
						content: "";
						border-top: 6px solid transparent;
						border-bottom: 6px solid transparent;
						border-left: 8px solid var(--PurpleTransparent);
						transition: all .15s linear;
						transform: rotate(90deg);
					}

					& a,
					& .current-option,
					& .current-cat {
						height: 32px;
						width: calc(100% - 40px);
						display: flex;
						justify-content: flex-start;
						align-items: center;
						padding: var(--Small);
						text-decoration: none;
						color: var(--Purple);
						font-weight: 500;
					}

					& .current-cat {
						margin-bottom: var(--xSmall);
					}

					& .current-option {
						color: var(--PurpleTransparent);
						margin-bottom: var(--xSmall);
					}

					& a:last-child {
						margin-bottom: var(--Small);
					}

					& a:hover,
					& a:focus {
						text-decoration: underline;
					}
				}
			}
		}
	}

	& aside.sub-or-join,
	& aside.subscribe-to-newsletter {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: var(--Large);
		margin-top: 120px;

		@media(--tablet) {
			grid-template-columns: 1fr 1fr;
		}

		& .newsletter {
			background-color: #9291B1;
			padding: var(--Inbetween);
			position: relative;
			z-index: 20;
			background-image: url('../images/subta-pattern-2.png');

			& h2 {
				margin: 0 0 var(--Medium) 0;
			}

			&>p {
				line-height: 1.3;
				max-width: 600px;
				margin: 0;
				font-weight: 500;
			}

			& form {
				margin: var(--xLarge) 0 0 0;
				position: relative;

				& ul.gform_fields {
					& li {
						margin: var(--Small) 0;
					}
				}

				& .validation_message {
					display: none;
				}

				& #field_3_10 {
					@media(--phone) {
						display: flex;
						align-items: center;
						justify-content: flex-start;
					}

					&>label {
						width: 100%;
						margin: 0 var(--Medium) 0 0;

						@media(--phone) {
							width: auto;
						}
					}

					& .ginput_container_radio {
						display: contents;
					}

					& ul {
						display: inline-flex;
						padding: 0;
						margin: 0;

						& li {
							margin: var(--Small) var(--Inbetween) var(--Medium) 0;

							@media(--phone) {
								margin: 0 var(--Medium) 0 0;
							}

							&:last-child {
								margin: var(--Small) 0 var(--Medium) 0;

								@media(--phone) {
									margin: 0;
								}
							}
						}
					}
				}

				& .gfield_radio {
					& input {
						border-color: var(--Green);
						background-color: var(--White);

						&:checked {
							background-color: var(--Green);
						}
					}
				}

				& input[type='email'] {
					border-top-right-radius: 6px;
					border-bottom-right-radius: 6px;
					border-color: var(--White);
					color: var(--Purple)
				}

				& p.legal {
					font-size: 13px;

					& a {
						color: var(--Purple);
						font-weight: 400;
					}
				}

				& button {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					position: absolute;
					right: 0;
					top: 48px;
					height: 46px;

					@media(--phone) {
						top: 5px;
					}
				}
			}
		}

		& .join {
			background-color: var(--Purple);
			padding: var(--Inbetween);
			position: relative;
			z-index: 20;

			& h2 {
				color: var(--White);
				margin: 0 0 var(--Medium) 0;
			}

			&>p {
				color: var(--White);
				line-height: 1.3;
				max-width: 600px;
				margin: 0;
				font-weight: 500;
			}

			& a.button {
				margin-top: 52px;
			}
		}
	}
}

/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: var(--xLarge) auto var(--Medium) auto;
	text-align: center;

	& .page-numbers {
		background: var(--Grey);
		border: 2px solid transparent;
		border-radius: 4px;
		padding: var(--xSmall) var(--Small);
		font-weight: 700;
		text-decoration: none;
		color: var(--PurpleTransparent);
		transition: all 0.35s linear;

		&.current {
			background: var(--PurpleTransparent);
			color: var(--White);
		}

		&.dots {
			border: 0;
		}

		&.prev,
		&.next {
			font-weight: 500;
		}

		&:not(.current):hover,
		&:not(.current):focus {
			border-color: var(--PurpleTransparent);
		}
	}
}

/*-----------------------------------*\
	PARTNER GRID
\*-----------------------------------*/
.featured-partners {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 32px;
	margin: var(--xLarge) auto;
	align-items: center;

	&>div {
		grid-column: 1 / -1;
		margin: 0;

		& h2 {
			font-size: 32px;
			width: 90%;
			max-width: 800px;

			@media(--tablet) {
				font-size: 40px;
			}
		}

		& p {
			width: 90%;
			max-width: 800px;
		}

		& h2,
		& p {
			margin: 0;
		}

		&>*:last-child {
			margin-bottom: 16px;
		}
	}

	& img {
		width: 100%;
		height: auto;
		max-height: 80px;
		object-fit: contain;
		object-position: center;
	}

	& .title {
		@media(--phone) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		& h2 {
			font-size: 32px;
			margin: 0;

			@media(--tablet) {
				font-size: 40px;
			}
		}

		& .button {
			flex-shrink: 0;
		}

		&+p {
			margin: 0;
			width: 90%;
			max-width: 640px;
		}
	}

	@media(--tablet) {
		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media(--tablet) {
		&.columns-5 {
			grid-template-columns: repeat(5, 1fr);
		}

		&.columns-6 {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}

/*----------------------------------------------------------------*\
		SEARCH
\*----------------------------------------------------------------*/
body.search {
	& header {
		& h1 {
			margin-bottom: 0;

			&+p {
				margin-top: 0;
				color: var(--PurpleTransparent);
				font-size: 20px;
				font-weight: 500;
			}
		}

		& form {
			position: relative;
			margin: var(--Medium) 0 0 0;
			max-width: 400px;

			& input {
				font-family: 'Work Sans', sans-serif;
				font-weight: 500;
				color: var(--Purple);
				border-color: var(--PurpleTransparent);

				&::placeholder {
					color: var(--PurpleTransparent);
				}

				&:focus {
					&+button svg {
						opacity: 1;
						fill: var(--Purple);
					}
				}
			}

			& button {
				padding: 0;
				background: transparent;
				position: absolute;
				right: 12px;
				top: 50%;
				transform: translateY(-50%);

				& svg {
					width: 24px;
					height: 24px;
					fill: var(--PurpleTransparent);
					opacity: .5;
				}

				&:hover,
				&:focus {
					fill: var(--Purple);
				}
			}
		}
	}

	& section.post-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: var(--Inbetween);

		&>a {
			text-decoration: none;
			margin: 0;

			&:hover,
			&:focus {
				& article {
					background-color: #D0D0DD;

					& .button.is-arrow {
						color: var(--Purple);

						&::after {
							border-left: 12px solid var(--Green);
						}
					}
				}
			}
		}

		& article.post-preview {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
			transition: .25s all linear;
			text-decoration: none;

			&>img,
			& .image {
				width: 150px;
				height: 150px;
				object-fit: cover;
				object-position: center;
				display: block;
				transition: all .35s linear;
				margin-bottom: var(--Inbetween);

				@media(--tablet) {
					margin-bottom: 0;
				}
			}

			& .image {
				background-image: url('../images/subta-pattern-2.png');
				background-position: 50%;
				background-repeat: no-repeat;
				background-size: 800px;
			}

			&>div {
				width: 100%;

				@media(--tablet) {
					width: calc(100% - 150px);
					padding-left: var(--Inbetween);
				}

				& h3 {
					margin: 0;
				}

				& p {
					color: var(--Purple);
				}
			}
		}
	}

	& section.recommended {
		& h5 {
			color: var(--PurpleTransparent);
			margin: 0;
		}
	}
}

/*----------------------------------------------------------------*\
		BLOG
\*----------------------------------------------------------------*/
body.blog,
body.archive.category,
body.archive.tax-postseries {
	& .post-feed {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 48px var(--Large);

		@media(--phone) {
			grid-template-columns: 1fr 1fr;
		}

		@media(--tablet) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		& article {
			padding: 0;
			margin: 0;

			&::before {
				display: none;
			}

			& a {
				text-decoration: none;

				&>*:first-child {
					margin-top: 0;
				}

				&>*:last-child {
					margin-bottom: 0;
				}

				&:hover,
				&:focus {
					& .gated {
						width: 150px;
					}
				}
			}

			& .img-wrap {
				position: relative;
				width: 100%;
				padding-top: 50%;

				& .gated {
					position: absolute;
					width: 34px;
					top: var(--Medium);
					z-index: 2;
					left: var(--Medium);
					background: var(--White);
					border-radius: 24px;
					padding: 8px;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					font-weight: 500;
					box-shadow: 0px 4px 8px var(--PurpleTransparent);
					transition: all 0.15s linear;
					overflow: hidden;
					color: var(--Purple);

					& svg {
						height: 18px;
						width: 18px;
						flex-shrink: 0;
						fill: var(--Purple);
					}

					& span {
						height: 18px;
						line-height: 18px;
						margin-left: 8px;
						flex-shrink: 0;
					}
				}

				& img {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					object-fit: cover;
					object-position: center;
					height: 100%;
					width: 100%;
				}
			}

			& p {
				margin: var(--Small) 0;
				font-size: 12px;
				color: var(--PurpleTransparent);
				line-height: 1.2;
			}

			& h3 {
				margin: var(--Small) 0;
				font-size: 18px;
			}
		}
	}
}

body.blog {

	& .primary-nav-wrap::after {
		display: none;
	}

	& header.post-head {
		position: relative;
		margin-bottom: var(--Large);
		background-size: cover;
		background-position: center;

		& h1 {
			max-width: 632px;
		}

		&>div {
			position: relative;
			z-index: 2;
			padding-bottom: 200px;
		}
	}

	& .featured-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: var(--xLarge);
		align-items: flex-start;
		justify-content: space-between;

		@media(--tablet) {
			grid-template-columns: 3fr 2fr;
		}

		& section {
			margin-top: 0;
			margin-bottom: 0;

			&:first-child {
				margin-top: -168px;
				position: relative;
				z-index: 2;
			}
		}
	}

	& section.featured-posts {
		@media(--phone) {
			grid-template-columns: 1fr 1fr;

			& article:first-child {
				grid-column: span 2;
			}
		}

		& article:first-child {
			& p {
				font-size: 14px;

				@media(--tablet) {
					font-size: 16px;
				}
			}

			& h3 {
				font-size: 28px;
			}
		}
	}

	& section.industry-news-feed {
		justify-items: flex-start;
		grid-template-columns: 1fr;
		grid-gap: 0;

		& h2 {
			border-bottom: 2px solid var(--Grey);
			margin: 0 0 var(--Small) 0;
			width: 100%;
			padding-bottom: var(--Small);
		}

		& article {
			padding: var(--Medium) 0;
			width: 100%;
			border-bottom: 1px solid var(--Grey);

			& p {
				margin: 0;
				font-weight: 600;
			}

			& h3 {
				margin: var(--xSmall) 0 0 0;
				font-size: 16px;
				font-weight: 500;
			}
		}

		& a.button {
			margin-top: var(--Large);
			padding: var(--Small) var(--Medium);
		}
	}

	& section.essential-posts {
		grid-template-columns: 1fr;
		grid-gap: 48px var(--xLarge);
		padding: 0 32px;

		@media(--phone) {
			grid-template-columns: 1fr 1fr;
		}

		@media(--tablet) {
			grid-template-columns: repeat(4, 1fr);
			padding: 0;
		}

		& h2 {
			border-bottom: 2px solid var(--Grey);
			margin: 0;
			width: 100%;
			padding-bottom: var(--Small);

			@media(--phone) {
				grid-column: span 2;
			}

			@media(--tablet) {
				grid-column: span 4;
			}
		}

		& article {
			position: relative;

			& a>span {
				position: absolute;
				top: -48px;
				left: -48px;
				font-size: 150px;
				font-weight: 800;
				color: var(--Grey);
				z-index: -1;
				line-height: 1;
			}
		}
	}

	& aside.subscribe-to-newsletter {
		margin: 120px auto;

		@media(--tablet) {
			grid-template-columns: 1fr;
		}
	}

	& section.reading-series {

		& .series {
			position: relative;
			padding-right: 48px;

			& .slick-track {
				display: flex !important;
			}

			& .slick-slide {
				height: inherit !important;
				padding: 0 var(--Inbetween) 0 0;

				&>div {
					height: 100%;
				}
			}

			& .slick-prev {
				display: none !important;
			}

			& .slick-next {
				position: absolute;
				top: -2px;
				bottom: 0;
				right: 0;
				padding: var(--Small);
				background-color: var(--Grey);

				& svg {
					width: 24px;
					height: 24px;
				}
			}
		}

		& a {
			text-decoration: none;
			color: inherit;
		}

		& article,
		& .more-series-to-come {
			& .series-cover {
				width: 100%;
			}

			& img {
				width: 100%;
				height: auto;
			}

			& h3 {
				margin: var(--Small) 0;
				font-size: 18px;
			}
		}
	}

	& nav.cat-or-feed {
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 2px solid var(--Grey);

		& button {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			background-color: var(--Grey);
			position: relative;
			border: 2px solid transparent;
			top: 2px;

			&:hover,
			&:focus {
				color: var(--Purple);
			}

			&.is-active {
				background-color: var(--White);
				border-top: 2px solid var(--Grey);
				border-left: 2px solid var(--Grey);
				border-right: 2px solid var(--Grey);
				border-bottom: 2px solid var(--White);
			}
		}

	}

	& section.categories {
		display: none;

		&.is-active {
			display: block;
		}

		& ul {
			margin: 0;
			padding: 0;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: var(--Inbetween) var(--Large);

			@media(--phone) {
				grid-template-columns: 1fr 1fr;
			}

			@media(--tablet) {
				grid-template-columns: repeat(3, 1fr);
			}

			@media(--laptop) {
				grid-template-columns: repeat(4, 1fr);
			}

			& li {
				padding: 0;
				margin: 0;

				&::before {
					display: none;
				}

				& a {
					text-decoration: none;
					color: var(--Purple);
				}

				& h3 {
					margin: 0;
					font-size: 18px;
				}

				& p {
					margin: var(--xSmall) 0;
					font-size: 12px;
				}
			}
		}
	}

	& section.latest-posts {
		display: none;

		& .post-feed+.post-feed {
			margin-top: 48px;
		}

		&.is-active {
			display: block;
		}

		& .nav-links {
			display: none;
		}

		& .page-load-status {
			display: none;
			text-align: center;
		}

		& .button.load-more {
			margin: 0 auto;
			display: table;
		}
	}
}

body.archive.tax-postseries {
	& header {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: var(--Large) var(--xLarge);
		align-items: center;
		justify-items: flex-start;
		margin-bottom: 10vh;

		@media(--tablet) {
			grid-template-columns: 3fr 2fr;
			justify-items: center;
			margin-bottom: 15vh;
		}

		& img {
			max-width: 200px;
			box-shadow: 0 8px 24px 0 rgb(36 35 98 / 40%);
			border-radius: 4px 16px 16px 4px;

			@media(--tablet) {
				max-width: 300px;
				order: 2;
			}
		}

		& h1 {
			margin: 0 0 var(--Medium) 0;

			@media(--tablet) {
				margin: 0 0 var(--Large) 0;
			}

			& span {
				color: var(--PurpleTransparent);
				display: block;
				font-size: 24px;
				font-weight: 700;

				@media(--tablet) {
					font-size: 32px;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		PARTNERS
\*----------------------------------------------------------------*/
body.post-type-archive-sponsors,
body.tax-specialization {
	& header {
		& p {
			max-width: 500px;
		}
	}

	& .partner-filter {
		background-color: var(--Grey);
		text-align: center;
		padding: var(--Large) 0 var(--Inbetween) 0;

		& .filter {
			flex-wrap: wrap;
			display: inline-flex;
			justify-content: center;
			align-items: center;

			& span {
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 12px;
				text-transform: uppercase;
				margin: 0 var(--Small) 0 0;
				width: 100%;

				@media(--phone) {
					width: auto;
				}
			}

			& button {
				background-color: var(--White);
				background-image: url('../images/select_arrow.svg');
				background-repeat: no-repeat;
				background-position: top 11px right 8px;
				background-size: 24px;
				min-width: 200px;
				min-height: 42px;
				padding-left: var(--Small);
				font-size: 18px;
				font-weight: 700;
				color: var(--PurpleTransparent);
				margin: 0 var(--Small) 0 0;
				text-align: left;
				padding: 8px 40px 8px var(--Small);

				&:hover,
				&:focus {
					color: var(--Purple);
				}
			}
		}

		& .industries {
			overflow: hidden;
			max-height: 0;
			margin-top: var(--Medium);
			transition: all 0.5s linear;

			&.is-active {
				max-height: 100vh;
			}

			& a {
				padding: var(--Small) var(--Small);
				background-color: var(--PurpleTransparent);
				border-radius: 4px;
				display: inline-block;
				text-decoration: none;
				color: var(--White);
				margin: 0 var(--xSmall) var(--Small) 0;
				transition: all 0.35s linear;

				& span {
					background: var(--White);
					margin: 0 0 0 var(--Small);
					color: var(--PurpleTransparent);
					font-weight: 800;
					width: 28px;
					display: inline-block;
					border-radius: 4px;
					text-align: center;
					transition: all 0.35s linear;
				}

				&:hover,
				&:focus {
					background-color: var(--Purple);

					& span {
						color: var(--Purple);
					}
				}
			}
		}
	}

	& .partner-grid {
		& h2 {
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			margin: 0 0 var(--Inbetween) 0;
			color: var(--PurpleTransparent);
		}

		& ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: var(--Medium);

			@media(--phone) {
				grid-template-columns: repeat(3, 1fr);
				grid-gap: var(--Inbetween);
			}

			@media(--tablet) {
				grid-template-columns: repeat(5, 1fr);
				grid-gap: var(--Large);
			}

			& li {
				margin: 0;
				padding: 0;
				list-style: none;
				box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
				display: flex;
				justify-content: center;
				align-items: center;
				padding: var(--Inbetween) var(--Medium);

				&::before {
					display: none;
				}

				& a {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					& img {
						width: 100%;
						height: 100px;
						object-fit: contain;
						object-position: center;
					}
				}
			}
		}
	}

	& .partner-cta {
		margin: 120px auto;
		border-left: 6px solid var(--Turquoise);
		padding: var(--Small) 0 var(--Small) 120px;
		position: relative;
		overflow: hidden;

		& h2 {
			margin: 0;
		}

		& p {
			margin: var(--Small) 0 0 0;
		}

		& a.button {
			margin-top: var(--Inbetween);
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: -16px;
			height: 100%;
			width: 120px;
			background-image: url('../images/FeaturedArticle_Pattern.png');
			background-size: contain;
			background-position: center left;
			background-repeat: no-repeat;
		}
	}
}

/*----------------------------------------------------------------*\
		VIDEOS
\*----------------------------------------------------------------*/
body.post-type-archive-video {
	& .primary-nav-wrap::after {
		display: none;
	}

	& header.post-head {
		position: relative;
		margin-bottom: var(--Large);
		background-size: cover;
		background-position: center;

		& h1 {
			max-width: 632px;
		}

		&>div {
			position: relative;
			z-index: 2;
			padding-bottom: 200px;
		}
	}

	& main article {
		margin-top: 0;
	}

	& section.shows {
		position: relative;
		padding-right: 48px;
		margin-top: -150px;
		z-index: 2;

		& .slick-track {
			display: flex !important;
		}

		& .slick-slide {
			height: inherit !important;
			padding: 0 var(--Inbetween) 0 0;

			&>div {
				height: 100%;
			}
		}

		& .slick-prev {
			display: none !important;
		}

		& .slick-next {
			position: absolute;
			top: -2px;
			bottom: 0;
			right: 0;
			padding: var(--Small);
			background-color: var(--Grey);

			& svg {
				width: 24px;
				height: 24px;
			}
		}

		& a {
			text-decoration: none;
			color: inherit;
		}

		& article {
			& .show-poster {
				width: 100%;
			}

			& img {
				width: 100%;
				height: auto;
			}

			& h3 {
				margin: var(--Small) 0;
				font-size: 18px;
			}
		}
	}

	& section.featured-video {
		margin: 120px auto;

		&>a {
			display: block;
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: var(--Large);
			text-decoration: none;

			@media(--tablet) {
				grid-template-columns: 1fr 1fr;
			}

			& .image-wrap {
				position: relative;
			}

			& .contents {
				& p.meta {
					font-size: 18px;
				}

				& h2 {
					margin: 0 0 var(--Small) 0;

					&+p {
						font-size: 14px;
					}
				}

				& .guests {
					display: flex;
					justify-content: flex-start;
					margin: 0;

					& .guest:not(:last-child) {
						margin-right: var(--Medium);
					}

					& img {
						display: block;
						width: 120px;
					}
				}
			}
		}
	}

	& section.topic-slider {
		position: relative;
		margin: 120px auto 32px auto;

		&+section.topic-slider {
			margin-top: 0;
		}

		&>h2 {
			margin: 0 0 var(--Small) 0;
			padding-left: 14px;
			padding-right: 80px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			& a {
				font-size: 16px;
				color: var(--PurpleTransparent);
				margin: 0 0 0 var(--Medium);
				text-decoration: none;
				display: inline-block;
			}
		}

		& ul {
			margin: 0;
			padding: 0;

			& .slick-slide {
				padding: 0 var(--Medium);
			}

			& button {
				position: absolute;
				transform: translateY(-100%);
				top: -16px;
				right: 16px;
				padding: 0;
				background-color: transparent;
				width: 20px;
				height: 20px;
				display: flex;
				justify-content: center;
				align-items: center;

				&.slick-prev {
					right: 40px;
					opacity: .5;
				}

				& svg {
					width: 18px;
					height: 18px;
				}
			}

			& li {
				padding: 0;
				margin: 0;

				&::before {
					display: none;
				}
			}
		}
	}
}

.video-post-preview {
	position: relative;

	& a {
		text-decoration: none;

		&:hover,
		&:focus {
			& .gated {
				width: 150px;
			}
		}
	}

	& img {
		width: 100%;
	}

	& .gated {
		position: absolute;
		width: 34px;
		top: var(--Medium);
		z-index: 2;
		left: var(--Medium);
		background: var(--White);
		border-radius: 24px;
		padding: 8px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-weight: 500;
		box-shadow: 0px 4px 8px var(--PurpleTransparent);
		transition: all 0.15s linear;
		overflow: hidden;
		color: var(--Purple);

		& svg {
			height: 18px;
			width: 18px;
			flex-shrink: 0;
			fill: var(--Purple);
		}

		& span {
			height: 18px;
			line-height: 18px;
			margin-left: 8px;
			flex-shrink: 0;
		}
	}

	& h3 {
		font-size: 18px;
		margin: var(--Small) 0;
	}

	& p.meta {
		color: var(--PurpleTransparent);
		font-size: 12px;
		line-height: 1.2;
		margin: var(--Small) 0;

		& span::after {
			content: '•';
			display: inline-block;
			margin: 0 var(--xSmall) 0 var(--Small);
		}
	}
}

.video-feed {
	display: grid;
	grid-gap: var(--Large);
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	@media(--phone) {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}

	&>h2 {
		grid-column: 1 / -1;
		margin-bottom: 0;

		&:first-child {
			margin-top: 0;
		}
	}
}

body.tax-show {
	& header.post-head {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 80vh;
		padding-bottom: 96px;

		&>div>div {
			max-width: 640px;
			width: 90%;

			& img {
				width: 200px;
			}

			& h1,
			& h2,
			& h3,
			& h4,
			& h5,
			& h6,
			& p {
				color: var(--White);
			}

			& button,
			& .button {
				margin: var(--Inbetween) 0 0 0;
				padding: var(--Small) var(--Medium);
			}
		}
	}

	& main>article {
		@media(--phone) {
			margin-top: 0;
		}
	}

	& section.latest-video {

		@media(--phone) {
			margin: -200px auto 120px auto;
		}

		@media(--tablet) {
			margin: -120px auto 120px auto;
		}

		&>a {
			display: block;
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: var(--Large);
			text-decoration: none;

			@media(--tablet) {
				grid-template-columns: 3fr 2fr;
			}

			& .image-wrap {
				position: relative;
			}

			& .contents {

				@media(--tablet) {
					padding-top: 140px;
				}

				& p.meta {
					font-size: 18px;
				}

				& h2 {
					margin: 0 0 var(--Small) 0;

					&+p {
						font-size: 14px;
					}
				}

				& .guests {
					display: flex;
					justify-content: flex-start;
					margin: 0;

					& .guest:not(:last-child) {
						margin-right: var(--Medium);
					}

					& img {
						display: block;
						width: 120px;
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		LIVE
\*----------------------------------------------------------------*/
body.page-template-live {
	& .primary-nav-wrap::after {
		display: none;
	}

	& main>article {
		margin-top: 0;
	}

	& h1 {
		margin-bottom: 0;
		font-size: 26px;

		@media(--tablet) {
			font-size: 32px;
		}

		&+section {
			margin-top: var(--Large);
		}
	}

	& section.featured-video {
		margin: 0 auto var(--xLarge) auto;
		min-height: 80vh;
		padding: 48px 0 160px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@media(--tablet) {
			padding: 96px 0;
		}

		&>div {
			display: block;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: var(--Large);
			text-decoration: none;

			@media(--tablet) {
				grid-template-columns: 1fr 1fr;
				align-items: center;
			}

			@media(--desktop) {
				width: 100%;
			}

			& .image-wrap {
				position: relative;

				& img {
					width: 100%;
				}
			}

			& .contents {
				& img {
					height: 96px;
					width: auto;
				}

				& h1,
				& h2,
				& h3,
				& h4,
				& h5,
				& h6,
				& p {
					color: var(--White);
				}

				& h2 {
					margin-top: 0;
				}

				& button,
				& .button {
					margin: var(--Inbetween) 0 0 0;
					padding: var(--Small) var(--Medium);
					font-size: 14px;

					@media(--phone) {
						font-size: 16px;
					}

					&:hover,
					&:focus {
						color: var(--Purple);
						background-color: var(--Green);
					}
				}
			}
		}
	}

	& section.upcoming-episodes {
		margin-top: -140px;
		grid-gap: var(--xLarge);
	}

	& section.shows {
		position: relative;
		padding-right: 48px;
		z-index: 2;

		& .slick-track {
			display: flex !important;
		}

		& .slick-slide {
			height: inherit !important;
			padding: 0 var(--Inbetween) 0 0;

			&>div {
				height: 100%;
			}
		}

		& .slick-prev {
			display: none !important;
		}

		& .slick-next {
			position: absolute;
			top: -2px;
			bottom: 0;
			right: 0;
			padding: var(--Small);
			background-color: var(--Grey);

			& svg {
				width: 24px;
				height: 24px;
			}
		}

		& a {
			text-decoration: none;
			color: inherit;
		}

		& article {
			& .show-poster {
				width: 100%;
			}

			& img {
				width: 100%;
				height: auto;
			}

			& h3 {
				margin: var(--Small) 0;
				font-size: 18px;
			}
		}
	}
}