/*----------------------------------------------------------------*\
	STYLES SPECIFIC TO THE VIRTUAL EVENT TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-event {
	overflow-x: hidden;
	font-weight: 400;
	background-color: #fff;

	& h2 {
		font-size: 32px;

		@media(--phone) {
			font-size: 45px;
		}
	}

	& p {
		font-size: 18px;
	}

	& .button,
	& .primary-button {
		display: inline-block;
		margin: 24px 0 0 0;
		padding: 16px 24px;
		font-weight: 700;
		font-size: 16px;

		@media(--phone) {
			font-size: 20px;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}

		&.is-fixed {
			position: fixed;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			margin: 0;
			white-space: nowrap;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;

			@media(--phone) {
				left: 100px;
			}
		}
	}

	& header {
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding: 32px 5vw;
		text-align: center;
		background-color: var(--Grey);

		& img.subta {
			display: block;
			height: 52px;
			margin: 0 auto 24px auto;
		}

		& img.event-logo {
			display: block;
			max-width: 550px;
			width: 100%;
			max-height: 200px;
			margin: 0 auto;
		}

		& h1 {
			max-width: 640px;
			margin: 24px auto;
			font-weight: 400;
			font-size: 24px;
		}

		& .date-details {
			margin: 32px auto;

			& p:first-child {
				margin: 0;
				font-weight: 700;
				font-size: 48px;
			}

			& p:last-child {
				margin: 0;
				font-weight: 700;
				font-size: 32px;
			}
		}

		&>.button {
			position: relative;

			& span {
				position: absolute;
				top: calc(100% + 6px);
				right: 0;
				left: 0;
				font-weight: 400;
				font-size: 14px;
				text-transform: none;
				color: var(--Purple);
			}
		}

		& nav {
			margin: 52px auto 32px auto;

			& a {
				margin: 0 16px 16px 16px;
				display: inline-block;
			}
		}
	}

	& section.trailer {
		width: 90%;
		max-width: 960px;
		margin: 64px auto 0 auto;

		@media(--phone) {
			margin: 0 auto;
		}

		& iframe {
			width: 90vw;
			max-width: 100%;
			height: 50vw;
			max-height: 500px;
		}

		& .two-col-content {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 24px;

			@media(--phone) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	& section.expectations {
		width: 90%;
		max-width: 1200px;
		margin: 96px auto 0 auto;

		& .intro {
			max-width: 720px;
			margin: 0 auto 64px auto;
			text-align: center;

			& h2 {
				margin-top: 0;
			}
		}

		& .expectations-grid {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: auto;
			grid-gap: 64px 120px;

			@media(--tablet) {
				grid-template-columns: repeat(2, 1fr);
			}

			& .expectation {
				margin-top: 0;

				@media(--tablet) {
					margin-top: 200px;
				}

				&:nth-child(odd) {
					margin-top: 0;

					@media(--tablet) {
						margin-top: -150px;
					}
				}

				&:first-child {
					margin-top: 0;
				}

				& img {
					width: 100%;
				}

				& h3 {
					margin-top: 16px;
				}
			}
		}
	}

	& section.speakers {
		width: 90%;
		max-width: 1200px;
		margin: 120px auto 0 auto;
		text-align: center;

		@media(--tablet) {
			text-align: left;
		}

		@media(--phone) {
			margin: 160px auto 0 auto;
		}

		&>h2 {
			max-width: 720px;
			margin: 0 auto 64px auto;
			text-align: center;
		}

		& .speakers-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			grid-template-rows: auto;
			grid-gap: 48px 24px;

			@media(--phone) {
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			}

			& .speaker {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				text-align: center;

				& img {
					flex-shrink: 0;
					width: 96px;
					height: 96px;
					margin-bottom: var(--Medium);
					border-radius: 50%;
					object-fit: cover;
					object-position: center;

					@media(--phone) {
						width: 150px;
						height: 150px;
					}
				}

				&>div {
					&>*:first-child {
						margin: 0 0 4px 0;
					}

					&>*:last-child {
						margin: 0;
					}

					& h3 {
						line-height: 1;
						font-size: 20px;

						@media(--tablet) {
							font-size: 26px;
						}
					}
				}
			}
		}
	}

	& section.schedule {
		width: 90%;
		max-width: 720px;
		margin: 120px auto 0 auto;

		@media(--phone) {
			margin: 160px auto 0 auto;
		}

		&>h2 {
			margin: 0 auto 52px auto;
			text-align: center;
		}

		& .schedule-grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-gap: 48px;
		}

		& .item.labels {
			display: none !important;

			@media(--tablet) {
				display: block !important;
			}
		}

		& .item {
			display: grid;
			grid-gap: 16px;
			grid-template-columns: 1fr;
			margin-bottom: var(--Medium);

			@media(--phone) {
				grid-template-columns: 200px 1fr;
				margin-bottom: 0;
			}

			& .time {
				font-weight: 700;
				font-size: 28px;
				text-transform: uppercase;

				@media(--phone) {
					font-size: 24px;
				}
			}

			& .description {
				padding-left: var(--Medium);

				@media(--phone) {
					padding-left: 0;
				}

				& h3 {
					margin-top: 0;
					font-size: 20px;

					& span {
						display: block;
						font-size: .75em;
						opacity: .5;

						@media(--tablet) {
							display: none;
						}
					}
				}

				& p {
					margin-bottom: 0;
				}

				& ul {
					margin: var(--Medium) 0 0 0;
					padding: 0;
					list-style: none;

					& li {
						list-style: none;
						padding: 0;
						background-image: none;
						display: flex;
						justify-content: flex-start;
						align-items: center;

						& img {
							width: 40px;
							height: 40px;
							border-radius: 50%;
							margin-right: 16px;
							border: 2px solid var(--Orange);
							object-fit: cover;
						}

						& div {
							& p {
								margin: 0;

								&.name {
									font-weight: bold;
								}
							}
						}
					}
				}
			}
		}

		&.time-hidden .item {
			grid-template-columns: 1fr;
		}

		&.two-tracks {
			max-width: 960px;

			& .item {
				display: grid;
				grid-gap: 16px;
				grid-template-columns: 1fr;
				margin-bottom: var(--Medium);

				@media(--tablet) {
					grid-template-columns: 200px 1fr 1fr;
					margin-bottom: 0;
				}

				& .description {
					padding-left: var(--Medium);

					@media(--tablet) {
						padding-left: 0;
					}
				}
			}

			&.time-hidden .item {
				grid-template-columns: 1fr 1fr;
			}
		}
	}

	& section.pricing {
		width: 100%;
		margin: 120px auto 0 auto;
		padding: 64px 0;
		background-color: var(--Grey);

		@media(--phone) {
			margin: 160px auto 0 auto;
		}

		&>div {
			width: 90%;
			max-width: 720px;
			margin: 0 auto;
			text-align: center;

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}

			& p {
				font-size: 18px;
			}

			& img.aligncenter {
				max-width: 100%;
				height: auto;
				margin: 32px auto;
			}

			& form {
				text-align: left;
			}
		}
	}

	& section.sponsors {
		width: 90%;
		max-width: 960px;
		margin: 120px auto 0 auto;

		@media(--phone) {
			margin: 160px auto 0 auto;
		}

		& .intro {
			max-width: 720px;
			margin: 0 auto;
			text-align: center;

			& h2 {
				margin-bottom: 0;
			}

			& a:not(.button) {
				font-weight: 800;
				letter-spacing: 1px;
				color: var(--Purple);
				margin: 0 auto;
				display: table;
			}
		}

		& .sponsor-grid {
			display: grid;
			grid-template-rows: auto;
			grid-gap: 32px;
			align-items: center;
			justify-items: center;
			margin: 64px auto;

			& img {
				max-width: 100%;
				height: auto;
			}

			&.tier-1 {
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				grid-gap: 64px;

				& img {
					max-height: 150px;
				}
			}

			&.tier-2 {
				grid-template-columns: repeat(2, 1fr);

				@media(--phone) {
					grid-template-columns: repeat(3, 1fr);
				}

				@media(--tablet) {
					grid-template-columns: repeat(4, 1fr);
				}

				& img {
					max-height: 75px;
				}
			}

			&.tier-3 {
				grid-template-columns: repeat(3, 1fr);

				@media(--phone) {
					grid-template-columns: repeat(4, 1fr);
				}

				@media(--tablet) {
					grid-template-columns: repeat(6, 1fr);
				}

				& img {
					max-height: 50px;
				}
			}

		}
	}

	& section.promotions {
		width: 90%;
		max-width: 1024px;
		margin: 120px auto 160px auto;
		position: relative;

		@media(--phone) {
			margin: 160px auto;
		}

		& .intro {
			max-width: 720px;
			margin: 0 auto 64px auto;
			text-align: center;
		}

		& .promotions-grid {
			display: grid;
			grid-template-rows: auto;
			grid-gap: 24px;
			align-items: center;
			grid-template-columns: repeat(1, 1fr);

			@media(--phone) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media(--tablet) {
				grid-template-columns: repeat(3, 1fr);
			}

			& a {
				position: relative;

				&:hover,
				&:focus {
					& .button {
						opacity: 1;
					}

					&::after {
						opacity: 1;
					}
				}

				&::after {
					display: block;
					opacity: 0;
					z-index: 1;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					content: '';
					background: rgba(0, 0, 0, 0.25);
					transition: all 0.25s linear;
				}
			}

			& img {
				display: block;
				max-width: 100%;
			}

			& .button {
				opacity: 0;
				z-index: 5;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: 0;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}

	& .legal-footer {
		display: block;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto 72px auto;
		font-size: 14px;

		@media(--phone) {
			display: flex;
		}

		& a {

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	STYLES SPECIFIC TO SUBSCRIPTION INNOVATIONS
\*----------------------------------------------------------------*/
body.page-template-event.page-id-59124 {
	font-family: 'Karla', 'Work Sans', sans-serif;
	background-color: #e6f8ff;

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		color: #0a408e;
		font-weight: 700;
		font-family: 'Grifter', 'Work Sans', sans-serif;
		letter-spacing: 1px;
	}

	& p {
		color: #0a408e;
		font-family: 'Karla', 'Work Sans', sans-serif;
		font-size: 18px;
	}

	& .button,
	& .primary-button {
		padding: 20px 40px 18px 40px;
		border-color: #0a408e;
		border-radius: 0;
		color: #fff;
		font-family: 'Grifter', 'Work Sans', sans-serif;
		letter-spacing: 3px;
		background-color: #0a408e;

		&:hover,
		&:focus {
			border-color: #4361b5;
			color: #fff;
			background-color: #4361b5;
		}
	}

	& header {
		background-color: transparent;

		& h1 {
			color: #0a408e;
			font-family: 'Karla', 'Work Sans', sans-serif;
			letter-spacing: 0;
		}

		& a.button {
			& span {
				color: #0a408e;
				font-family: 'Karla', 'Work Sans', sans-serif;
				letter-spacing: 0;
				font-weight: 600;
			}
		}

		& nav {
			& a:not(.button) {
				color: #0a408e;
			}
		}
	}

	& section.expectations {
		&::before {
			display: block;
			position: absolute;
			top: -180px;
			left: -80px;
			width: 200px;
			height: 200px;
			content: '';
			background-image: url('../images/Arrow-bot-right.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: -1;

			@media(--tabletV) {
				top: -48px;
			}
		}

		&::after {
			display: block;
			z-index: -1;
			position: absolute;
			right: -50px;
			bottom: -200px;
			width: 300px;
			height: 300px;
			content: '';
			background-image: url('../images/Arrow-bot-left.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: -1;

			@media(--tablet) {
				right: -220px;
				bottom: -100px;
				width: 400px;
				height: 400px;
			}
		}
	}

	& section.speakers {
		& .speakers-grid {

			& .speaker:nth-child(3),
			& .speaker:nth-child(7),
			& .speaker:nth-child(11),
			& .speaker:nth-child(15),
			& .speaker:nth-child(19),
			& .speaker:nth-child(23) {
				grid-column: auto;

				@media(--tablet) {
					grid-column: 2;
				}
			}

			& .speaker:nth-child(5),
			& .speaker:nth-child(13),
			& .speaker:nth-child(21) {
				grid-column: auto;

				@media(--tablet) {
					grid-column: 3;
				}
			}

			& .speaker:nth-child(9),
			& .speaker:nth-child(17) {
				grid-column: auto;

				@media(--tablet) {
					grid-column: 1;
				}
			}
		}
	}

	& section.schedule {
		& .schedule-grid {
			& .item {
				&.labels .description h3 {
					font-family: Grifter, Work Sans, sans-serif;
					font-weight: 700;
					font-size: 24px;
					text-transform: uppercase;
				}

				& .time {
					color: #0a408e;
					font-family: Grifter, Work Sans, sans-serif;
				}

				& .description {
					& h3 {
						font-family: Karla, Work Sans, sans-serif;
					}

					& ul img {
						border-color: #0a408e;
					}
				}
			}
		}
	}

	& section.pricing {
		background-color: #fff;
	}

	& section.sponsors {
		& .intro {
			& a:not(.button) {
				color: #0a408e;
				margin: 16px auto;

				&:hover,
				&:focus {
					color: #4361b5;
				}
			}
		}

		& .sponsor-grid.tier-1 img {
			max-height: 80px;
		}
	}

	& section.promotions {
		&::before {
			display: block;
			position: absolute;
			top: -180px;
			left: -64px;
			width: 300px;
			height: 300px;
			content: '';
			background-image: url('../images/Arrow-bot-right.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			@media(--tablet) {
				top: -150px;
				left: -250px;
				width: 400px;
				height: 400px;
			}
		}

		&::after {
			display: block;
			z-index: -1;
			position: absolute;
			right: -50px;
			bottom: -180px;
			width: 200px;
			height: 200px;
			content: '';
			background-image: url('../images/Arrow-bot-left.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			@media(--tabletV) {
				right: -180px;
				bottom: -100px;
			}
		}
	}

	& .legal-footer {
		& p {
			color: #0a408e;
		}

		& a {
			color: #0a408e;
		}
	}
}

/*----------------------------------------------------------------*\
	STYLES SPECIFIC TO WOMEN IN SUBSCRIPTION
\*----------------------------------------------------------------*/
body.page-template-event.page-id-59251 {

	& h1,
	& h2 {
		font-family: 'Oswald';
		font-weight: 600;
		color: #1C2220;
		text-transform: uppercase;
	}

	& h3,
	& h4,
	& h5,
	& h6 {
		font-family: 'Oswald';
		font-weight: 600;
		color: #5BCAA7;
		text-transform: uppercase;
	}

	& p {
		color: #1C2220;
	}

	& p a {
		color: #5BCAA7;
	}

	& .button,
	& .primary-button {
		background-color: #5BCAA7;
		color: #1C2220;
		text-transform: none;
		border-radius: 3px;
		border: 0;
		font-weight: 600;
		letter-spacing: 0;

		&:hover,
		&:focus {
			background-color: #48A185;
		}

		&.is-fixed {
			background-color: #E9C53B;

			&:hover,
			&:focus {
				background-color: #d3af00;
			}
		}
	}

	& header {
		padding: 32px 5vw 60px 5vw;
		background-color: #5BCAA7;

		@media(--tablet) {
			padding: 32px 5vw 100px 5vw;
		}

		& h1 {
			text-transform: none;

			&::before {
				content: '';
				display: none;
				position: absolute;
				right: 0;
				top: 64px;
				width: 200px;
				height: 200px;
				background-image: url('../images/event-women-arrow-grey2-right.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: top right;
				z-index: 2;

				@media(--tablet) {
					display: block;
				}
			}

			&::after {
				content: '';
				display: none;
				position: absolute;
				left: 0;
				top: 64px;
				width: 200px;
				height: 200px;
				background-image: url('../images/event-women-arrow-grey2-left.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: top left;
				z-index: 2;

				@media(--tablet) {
					display: block;
				}
			}
		}

		& .date-details p {
			color: #fff;
			font-family: 'Oswald';
			font-weight: 600;
			text-transform: uppercase;
		}

		&>.button {
			min-width: 260px;
			background-color: #E9C53B;
			margin-bottom: 48px;

			&:hover,
			&:focus {
				background-color: #d3af00;
			}

			& span {
				color: #1C2220;
			}
		}

		& nav {
			display: none;

			& a {
				color: #1C2220;
			}

			&::before {
				content: '';
				display: none;
				position: absolute;
				left: calc(100% - 150px);
				bottom: 64px;
				width: 300px;
				height: 300px;
				background-image: url('../images/event-women-arrow-yellow-right.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: top right;
				z-index: 2;

				@media(--phone) {
					display: block;
				}

				@media(--tablet) {
					right: 0;
					left: auto;
				}
			}

			&::after {
				content: '';
				display: none;
				position: absolute;
				right: calc(100% - 150px);
				bottom: 64px;
				width: 300px;
				height: 300px;
				background-image: url('../images/event-women-arrow-yellow-left.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: top left;
				z-index: 2;

				@media(--phone) {
					display: block;
				}

				@media(--tablet) {
					left: 0;
					right: auto;
				}
			}
		}

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50%;
			height: 60px;
			content: '';
			background: linear-gradient(to bottom left, #5BCAA7 0%, #5BCAA7 50%, var(--White) 50%, var(--White) 100%);

			@media(--tablet) {
				height: 100px;
			}
		}

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 50%;
			height: 60px;
			content: '';
			background: linear-gradient(to bottom right, #5BCAA7 0%, #5BCAA7 50%, var(--White) 50%, var(--White) 100%);

			@media(--tablet) {
				height: 100px;
			}
		}
	}

	& section.trailer {
		margin: 96px auto 0;
	}

	& section.expectations {
		& .intro p {
			font-size: 18px;

			@media(--phone) {
				font-size: 22px;
			}
		}

		& .expectation {
			position: relative;

			&:nth-child(odd) {

				& h3,
				& p {
					padding: 0;

					@media(--tablet) {
						padding-left: 136px;
					}
				}

				&::before {
					content: "";
					display: none;
					height: 200px;
					width: 200px;
					background-image: url('../images/women-event-arrow-left.svg');
					background-size: contain;
					background-repeat: no-repeat;
					position: absolute;
					left: -80px;
					top: 164px;
					z-index: -1;

					@media(--tablet) {
						display: block;
					}
				}
			}

			&:nth-child(even) {

				& h3,
				& p {
					padding: 0;

					@media(--tablet) {
						padding-right: 136px;
					}
				}

				&::before {
					content: "";
					display: none;
					height: 200px;
					width: 200px;
					background-image: url('../images/women-event-arrow-right.svg');
					background-size: contain;
					background-repeat: no-repeat;
					position: absolute;
					right: -80px;
					top: 36%;
					z-index: -1;

					@media(--tablet) {
						display: block;
					}
				}
			}

		}
	}

	& section.speakers {
		position: relative;
		width: 100%;
		max-width: 100%;
		padding: 0 5vw;

		& .speakers-grid {
			max-width: 1200px;
			margin: 0 auto;
		}

		& .speaker {
			& img {
				width: 150px;
				height: 150px;
				border: 4px solid #E9C53B;

				@media(--tablet) {
					width: 200px;
					height: 200px;
					border: 6px solid #E9C53B;
				}
			}

			& h3 {
				font-size: 20px;
			}
		}

		&::before {
			content: '';
			display: none;
			position: absolute;
			left: calc(100% - 97px);
			top: 12px;
			width: 200px;
			height: 200px;
			background-image: url('../images/event-women-arrow-green-right.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top right;

			@media(--phone) {
				display: block;
			}

			@media(--tablet) {
				right: 0;
				left: auto;
				top: 48px;
			}
		}

		&::after {
			content: '';
			display: none;
			position: absolute;
			right: calc(100% - 130px);
			bottom: -150px;
			width: 200px;
			height: 200px;
			background-image: url('../images/event-women-arrow-green-left.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top left;

			@media(--phone) {
				display: block;
			}

			@media(--tabletV) {
				left: 0;
				right: auto;
				bottom: -120px;
			}
		}
	}

	& section.schedule {
		& .item {
			& .time {
				color: #5bcaa7;
			}

			& .description {
				& h3 {
					color: #1c2220;
				}

				& p {
					font-size: 16px;
				}
			}
		}
	}

	& section.pricing {
		background-color: #F5F5F5;
	}

	& section.sponsors {
		margin: 64px auto 0 auto;

		& .intro {
			& a:not(.button) {
				color: #5bcaa7;

				&:hover,
				&:focus {
					color: #48a185;
				}
			}
		}
	}

	& section.promotions {
		background-color: #5bcaa7;
		width: 100%;
		max-width: 100%;
		padding: 0 5vw 48px 5vw;
		margin: 220px auto 0 auto;

		& h2,
		& h3,
		& h4,
		& h5,
		& h6 {
			color: #fff;
		}

		& h2+h4 {
			margin-top: -24px;
			margin-bottom: 32px;
		}

		& p {
			font-size: 16px;

			@media(--phone) {
				font-size: 22px;
			}
		}

		& .primary-button {
			min-width: 260px;
			background-color: #E9C53B;

			&:hover,
			&:focus {
				background-color: #d3af00;
			}

			& span {
				color: #1C2220;
			}
		}

		& .promotions-grid {
			max-width: 1024px;
			margin: 0 auto;

			& .button {
				background-color: #E9C53B;

				&:hover,
				&:focus {
					background-color: #d3af00;
				}
			}

			&::before {
				content: '';
				display: none;
				position: absolute;
				right: 0;
				top: 64px;
				width: 200px;
				height: 200px;
				background-image: url('../images/event-women-arrow-grey-right.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: top right;
				z-index: 2;

				@media(--tablet) {
					display: block;
				}
			}

			&::after {
				content: '';
				display: block;
				position: absolute;
				right: calc(100% - 150px);
				bottom: -64px;
				width: 200px;
				height: 200px;
				background-image: url('../images/event-women-arrow-grey-left.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: top left;
				z-index: 2;

				@media(--tablet) {
					left: 0;
					right: auto;
				}
			}
		}

		&::before {
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 50%;
			height: 60px;
			content: '';
			background: linear-gradient(to top left, #5BCAA7 0%, #5BCAA7 50%, var(--White) 50%, var(--White) 100%);

			@media(--tablet) {
				height: 100px;
			}
		}

		&::after {
			position: absolute;
			right: 0;
			bottom: 100%;
			width: 50%;
			height: 60px;
			content: '';
			background: linear-gradient(to top right, #5BCAA7 0%, #5BCAA7 50%, var(--White) 50%, var(--White) 100%);

			@media(--tablet) {
				height: 100px;
			}
		}
	}

	& .legal-footer {
		background-color: #5bcaa7;
		margin: 0;
		max-width: 100%;
		width: 100%;
		padding: 120px 5vw 72px 5vw;
		color: #fff;

		& p {
			color: #fff;
		}

		& a {
			color: #fff;
		}
	}
}