/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
/*-----------------------------*\
	DISPLAY AD
\*-----------------------------*/
aside.display-ad {
	width: 100%;
	height: auto;

	& img {
		width: 100%;
		margin: 0;

		&.mobile-display-ad {
			display: block;
		}

		&.desktop-display-ad {
			display: none;
		}

		@media(--tablet) {
			&.mobile-display-ad {
				display: none;
			}

			&.desktop-display-ad {
				display: block;
			}
		}
	}
}

/*-----------------------------*\
	PROMO
\*-----------------------------*/
aside.promo {
	display: none;
	padding: var(--Inbetween) var(--Inbetween) var(--Medium) var(--Inbetween);
	background-color: var(--Green);
	z-index: 99999;
	position: relative;

	@media(--tablet) {
		position: fixed;
		max-width: 90%;
		width: 400px;
		border-radius: 6px;
		right: var(--Medium);
		bottom: var(--Medium);
	}

	&.note-on {
		display: block;
	}

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& h4 {
		margin-bottom: var(--xSmall);
	}

	& p {
		margin: 0;
	}

	& a.button {
		margin-top: var(--Medium);
		padding: var(--Small) var(--Medium);
		background-color: var(--PurpleTransparent);
		color: var(--White);

		&:hover,
		&:focus {
			background-color: var(--Purple);
		}
	}

	& button {
		background-color: transparent;
		color: var(--DarkGreen);
		padding: 0;

		&:hover,
		&:focus {
			color: var(--Purple);
		}
	}
}

/*-----------------------------*\
	HEADER
\*-----------------------------*/
body.page-template-front-page {
	& header.page-header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 80px;

		@media(--tablet) {
			margin-top: 112px;
		}

		&>div {
			@media(--tablet) {
				width: 48%;
			}
		}

		& .page-title {
			margin-bottom: var(--xLarge);

			@media(--tablet) {
				margin-bottom: 0;
			}
		}

		& h1 {
			font-size: 30px;
			line-height: 1.05;
			margin-top: 0;

			@media(--tablet) {
				font-size: 42px;
			}

			& span {
				color: var(--PurpleTransparent);
				text-transform: uppercase;
				font-size: 16px;
				display: block;
				margin-bottom: var(--Small);

				@media(--tablet) {
					font-size: 20px;
				}
			}
		}

		& .segments {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			width: 80%;

			& .segment {

				@media(--tablet) {
					position: relative;
				}

				& button {
					padding: 0;
					margin: 0 var(--Medium) 0 0;
					border-radius: 0;
					background: transparent;

					& img {
						border-radius: 50%;
						width: 52px;
						height: 52px;
						object-fit: contain;
						object-position: center;
						display: block;
					}

					&:hover,
					&:focus {
						& img {
							box-shadow: 0 0 8px var(--Purple);
						}

						&+.info {
							display: block;
						}
					}
				}

				& .info {
					display: none;
					position: absolute;
					left: 5%;
					width: 400px;
					max-width: 80vw;
					background-color: var(--Purple);
					padding: var(--xSmall) var(--Small);
					z-index: 999;
					border-radius: 6px;
					transition: all 0.35s linear;

					@media(--tablet) {
						left: 0;
					}

					&.is-active {
						display: block;
					}

					& p {
						font-size: 14px;
						margin: 0 0 var(--xSmall) 0;
						color: var(--White);
						line-height: 1.3;
					}
				}
			}
		}

		& .statements {

			& .statement {
				max-width: 475px;
				margin: 0 0 28px auto;
				border-left: 3px solid var(--PurpleTransparent);
				padding: 0 var(--Medium);

				&:first-child {
					border-color: var(--Green);
				}

				&:nth-child(2) {
					border-color: var(--Orange);
				}

				&:last-child {
					border-color: var(--Turquoise);
					margin-bottom: 0;
				}

				& h2 {
					margin: 0 0 var(--xSmall) 0;
					font-size: 20px;
					font-weight: 600;
				}

				& p {
					margin: 0;
				}
			}
		}
	}
}