/*----------------------------------------------------------------*\
	SINGLE POST TEMPLATE
\*----------------------------------------------------------------*/
.post-author {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: var(--Medium);

	& figure {
		margin: 0;
		display: inline-block;
		flex-shrink: 0;

		& img {
			height: 64px;
			width: 64px;
			display: block;
			margin: 0;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
		}
	}

	& p {
		margin: 0 0 0 8px;
	}
}

progress {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 8px;
	appearance: none;
	border: none;
	background-color: transparent;
	color: var(--Green);
	z-index: 999999999;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;

	&.is-active {
		opacity: 1;
	}
}

progress::-webkit-progress-bar {
	background-color: transparent;
}

progress::-webkit-progress-value {
	background-color: var(--Green);
}

progress::-moz-progress-bar {
	background-color: var(--Green);
}

body.single {

	& aside.share {
		text-align: center;
		transition: all 0.35s linear;
		z-index: 10;
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		@media(--tablet) {
			max-width: 64px;
			position: fixed;
			display: block;
			top: 20%;
			left: var(--Medium);
			transform: translateX(-150%);

			&.is-active {
				transform: translateX(0);
			}
		}

		& p {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 700;
			color: var(--PurpleTransparent);
			margin: 0;

			@media(--tablet) {
				font-size: 16px;
			}
		}

		& ul {
			display: flex;
			margin: 0;
			padding: 0;

			@media(--tablet) {
				display: block;
			}

			& li {
				padding: 0;
				margin: 0 0 0 24px;

				@media(--tablet) {
					display: block;
					margin: 12px 0;
				}

				&::before {
					display: none;
				}

				& svg {
					display: block;

					@media(--tablet) {
						display: inline-block;
					}
				}
			}
		}

		& a {
			& svg {
				width: 24px;
				height: 24px;
				fill: var(--PurpleTransparent);
				transition: all 0.35s linear;
			}

			&:hover,
			&:focus {
				& svg {
					fill: var(--Purple);
				}
			}
		}
	}

	& aside.up-next {
		position: relative;
		margin: 120px auto 96px auto;

		&>h2 {
			margin: 0 0 var(--Medium) 0;
			padding-left: 14px;
		}

		& ul {
			margin: 0;
			padding: 0;

			& .slick-slide {
				padding: 0 var(--Medium);
			}

			& button {
				position: absolute;
				transform: translateY(-100%);
				top: -16px;
				right: 16px;
				padding: 0;
				background-color: transparent;
				width: 20px;
				height: 20px;
				display: flex;
				justify-content: center;
				align-items: center;

				&.slick-prev {
					right: 40px;
					opacity: .5;
				}

				& svg {
					width: 18px;
					height: 18px;
				}
			}

			& li {
				padding: 0;
				margin: 0;

				&::before {
					display: none;
				}
			}
		}
	}

	& aside.newsletter {
		background-color: #9291B1;
		padding: var(--xLarge) var(--Inbetween);
		position: relative;
		z-index: 20;
		background-image: url('../images/subta-pattern-2.png');

		@media(--phone) {
			padding: var(--xLarge);
		}

		& h2 {
			text-align: center;
			max-width: 600px;
			margin: 0 auto var(--Medium) auto;
		}

		&>p {
			text-align: center;
			line-height: 1.3;
			max-width: 600px;
			margin: 0 auto;
			font-weight: 500;
		}

		& form {
			margin: var(--xLarge) auto 0 auto;
			position: relative;

			& ul.gform_fields {
				& li {
					margin: var(--Small) 0;
				}
			}

			& #field_3_10 {
				@media(--phone) {
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}

				&>label {
					width: 100%;
					margin: 0 var(--Medium) 0 0;

					@media(--phone) {
						width: auto;
					}
				}

				& .ginput_container_radio {
					display: contents;
				}

				& ul {
					display: inline-flex;
					padding: 0;
					margin: 0;

					& li {
						margin: var(--Small) var(--Inbetween) var(--Medium) 0;

						@media(--phone) {
							margin: 0 var(--Medium) 0 0;
						}

						&:last-child {
							margin: var(--Small) 0 var(--Medium) 0;

							@media(--phone) {
								margin: 0;
							}
						}
					}
				}
			}

			& .gfield_radio {
				& input {
					border-color: var(--Green);
					background-color: var(--White);

					&:checked {
						background-color: var(--Green);
					}
				}
			}

			& input[type='email'] {
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
				border-color: var(--White);
				color: var(--Purple)
			}

			& p.legal {
				font-size: 13px;

				& a {
					color: var(--Purple);
					font-weight: 400;
				}
			}

			& button {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				position: absolute;
				right: 0;
				top: 48px;
				height: 46px;

				@media(--phone) {
					top: 5px;
				}
			}
		}

		&+footer {
			margin-top: 0 !important;
		}
	}
}

body.single-post {
	& header {
		& .title {

			& h1 {
				font-size: 32px;

				@media(--tablet) {
					font-size: 48px;
				}
			}
		}

		& .featured-image {
			margin: var(--Large) auto var(--Medium) auto;

			& img {
				width: 100%;
				height: auto;
			}

			&+.author-partner {
				margin-top: 0;
			}
		}

		& .author-partner {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			max-width: 450px;
			margin-top: var(--Large);

			@media(--tablet) {
				flex-wrap: nowrap;
				max-width: 960px;
			}

			&.has-no-promo .author ul {
				max-width: 100%;
			}

			& .author {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-shrink: 0;

				& img {
					width: 80px;
					height: 80px;
					flex-shrink: 0;
					border-radius: 80px;
					margin: 0 12px 0 0;
				}

				& ul {
					margin: 0;
					padding: 0;
					font-size: 14px;

					@media(--tablet) {
						max-width: 150px;
					}

					& li {
						margin: 0;
						padding: 0;

						&::before {
							display: none;
						}

						&.author-name {
							font-weight: 600;
						}

						& a {
							text-decoration: none;
							color: var(--White);
							background-color: var(--PurpleTransparent);
							padding: 4px 8px;
							border-radius: 4px;
							display: inline-block;
							text-align: center;
							line-height: 1.3;
							transition: all 0.35s linear;

							&:hover,
							&:focus {
								color: var(--White);
								background-color: var(--Purple);
							}
						}
					}
				}
			}

			& .partner-promo {
				margin: var(--Inbetween) 0 0 0;
				width: 100%;
				background-color: var(--Grey);
				padding: var(--Medium);

				@media(--tablet) {
					margin: 0 0 0 96px;
					width: auto;
				}

				&>*:first-child {
					margin-top: 0;
				}

				&>*:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

/*-------------------------------*\
	GATED
\*-------------------------------*/
@keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

body.single {

	& .gated {
		height: 40vh;
		overflow: hidden;

		@media(--phone) {
			height: 100vh;
		}

		& header {
			margin-top: var(--xLarge);

			& p {
				margin: 0;
			}

			& h1 {
				margin: 0 0 var(--Medium) 0;
				font-size: 28px;

				@media(--phone) {
					font-size: 40px;
				}
			}
		}

		& main {
			margin: 0;

			& article {
				margin: 0;
			}

			&::after {
				content: '';
				display: block;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background-color: var(--PurpleTransparent);
				opacity: .4;
			}
		}
	}

	& aside.gated {
		position: relative;
		bottom: auto;
		background: var(--White);
		width: 100%;
		padding: var(--Inbetween) 0;
		left: 0;
		box-shadow: 0 -4px 12px var(--PurpleTransparent);
		z-index: 9999999;
		height: auto;
		animation: slideInUp 0.75s 0.5s ease-out both;

		@media(--phone) {
			position: fixed;
			bottom: 0;
			padding: var(--Inbetween) 0 var(--xLarge) 0;
		}

		& h2 {
			margin: 0 auto var(--Inbetween) auto;
			text-align: center;
			font-size: 16px;
			color: var(--PurpleTransparent);

			@media(--phone) {
				font-size: 20px;
			}
		}

		&>div {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			grid-gap: var(--Inbetween) var(--xLarge);

			& div {
				border: 1px solid var(--PurpleTransparent);
				border-radius: 6px;
				padding: var(--Medium);
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;

				@media(--phone) {
					padding: var(--Inbetween);
				}

				& h3 {
					font-size: 26px;
					margin: 0;
				}

				& p {
					flex-grow: 1;

					&.price {
						flex-grow: 0;
						margin: 0;
						font-weight: 500;
						font-size: 18px;

						& s {
							color: var(--DarkRed);
							margin-right: var(--Small);
						}
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	SINGLE PARTNER TEMPLATE
\*----------------------------------------------------------------*/
body.single-sponsors {
	&>header {
		margin-bottom: var(--xLarge);

		&>div {
			max-width: 1360px;
		}

		& img.logo {
			width: 300px;
			max-width: 80vw;
			height: auto;
			max-height: 140px;
			object-fit: contain;
			object-position: top left;
			margin-bottom: var(--Medium);
		}

		& h1 {
			font-size: 28px;
			max-width: 750px;

			@media(--tablet) {
				font-size: 32px;
			}
		}

		& dl {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			margin: var(--Inbetween) 0 0 0;

			& dt {
				margin: 0 8px 8px 0;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 14px;
				color: var(--PurpleTransparent);
			}

			& dd {
				margin: 0 8px 8px 0;
				padding: 2px 12px;
				background-color: var(--Grey);
				border-radius: 50px;
				font-weight: 500;
			}
		}
	}

	&>main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 90%;
		margin: 0 auto;
		max-width: 1360px;

		&>aside {
			width: 350px;
			max-width: 90vw;
			flex-shrink: 0;
			margin: 0 auto var(--xLarge) auto;
			padding: var(--Inbetween);
			background-color: var(--Grey);

			@media(--tablet) {
				margin: 0;
				order: 1;
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}

			& h3 {
				margin-bottom: 0;

				& span {
					text-transform: uppercase;
					display: block;
					font-size: 14px;
					margin-bottom: 6px;
				}
			}

			& .partner-rep {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&:not(:first-child) {
					margin-top: var(--Large);
				}

				& figure {
					margin: 0;

					& img {
						width: 56px;
						height: 56px;
						border-radius: 50%;
						object-fit: cover;
						object-position: center;
					}
				}

				& p {
					width: calc(100% - 72px);
					margin: 0;
					line-height: 1;
					font-size: 22px;

					& span {
						display: block;
						margin-bottom: 4px;
						opacity: .6;
						font-size: 14px;
					}
				}
			}
		}

		&>article {
			width: 100%;
			margin: 0;

			@media(--tablet) {
				order: 0;
				width: calc(100% - 400px);
			}

			&>section {
				width: 100%;
				margin: var(--Large) auto;

				&:first-child {
					margin-top: 0;
				}
			}

			& .social {

				& p {
					margin-bottom: 0;
				}

				& a {
					margin-right: var(--Small);
					color: var(--DarkTurquoise);
					transition: all 0.15s linear;

					&:hover,
					&:focus {
						text-decoration: underline;
						color: var(--Turquois);
					}
				}
			}
		}

		& section.post-grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: var(--Inbetween);
			margin-top: 96px;

			& h2 {
				text-align: center;
			}

			&>a {
				text-decoration: none;
				margin: 0;

				&:hover,
				&:focus {
					& article {
						background-color: #D0D0DD;

						& .button.is-arrow {
							color: var(--Purple);

							&::after {
								border-left: 12px solid var(--Green);
							}
						}
					}
				}
			}

			& article.post-preview {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: flex-start;
				transition: .25s all linear;
				text-decoration: none;

				&>img,
				& .image {
					width: 150px;
					height: 150px;
					object-fit: cover;
					object-position: center;
					display: block;
					transition: all .35s linear;
					margin-bottom: var(--Inbetween);

					@media(--tablet) {
						margin-bottom: 0;
					}
				}

				& .image {
					background-image: url('../images/subta-pattern-2.png');
					background-position: 50%;
					background-repeat: no-repeat;
					background-size: 800px;
				}

				&>div {
					width: 100%;

					@media(--tablet) {
						width: calc(100% - 150px);
						padding-left: var(--Inbetween);
					}

					& h3 {
						margin: 0;
					}

					& p {
						color: var(--Purple);
					}
				}
			}

			@media(--tablet) {
				order: 3;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	SINGLE VIDEO TEMPLATE
\*----------------------------------------------------------------*/
body.single-video {
	& header.post-head {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: var(--Large) 0;
		max-width: 1200px;
		margin: 0 auto;
		align-items: center;

		& h1 {
			font-size: 32px;
		}

		& p.meta span {
			&::after {
				content: '•';
				display: inline-block;
				margin: 0 var(--xSmall) 0 var(--Small);
			}
		}

		& .video-embed {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			width: 100%;

			& iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	& section.guests {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 100%;
		margin-bottom: 0;

		&+section {
			margin-top: 0;
		}

		& .guest {
			width: 450px;
			max-width: 90vw;
			margin: 0 var(--Large) var(--xLarge) var(--Large);

			@media(--tablet) {
				width: 330px;
			}

			&>img {
				width: 100%;
				display: block;
			}

			& .details {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				& img {
					width: 96px;
					height: 96px;
					object-fit: cover;
					border-radius: 50%;
					margin: -32px var(--Medium) 0 var(--Large);
				}

				& h3 {
					font-size: 18px;
					margin: var(--Small) 0;

					& span {
						display: block;
						font-weight: 400;
					}
				}
			}
		}
	}

	& .gated {
		& header.post-head {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: var(--Large);

			@media(--tablet) {
				grid-template-columns: 2fr 3fr;
				grid-gap: var(--Large);
			}

			& .video-embed {
				@media(--tablet) {
					order: 2;
				}
			}

			& p {
				margin: 1em 0;
			}
		}

		& section.guests {
			margin-top: var(--Large);
		}
	}
}