/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
.cookie-useage-notification {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 0;
	padding: 0;
	background-color: var(--Orange);
	z-index: 9999999;

	&.note-on {
		max-height: 100vh;
		padding: var(--Medium);

		&::before {
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			content: '';
			display: block;
			background-color: var(--PurpleTransparent);
			height: 100vh;

			@media(--phone) {
				display: none;
			}
		}
	}

	@media(--phone) {
		max-width: 350px;
		border-radius: 6px;

		&.note-on {
			bottom: var(--Medium);
			left: var(--Medium);
		}
	}

	& p {
		font-size: 14px;
		font-weight: 500;
		margin: 0;

		& a {
			color: var(--Purple);
			text-decoration: underline;

			&:hover,
			&:focus {
				color: var(--Purple);
			}
		}
	}

	& button {
		margin-top: var(--Medium);
		background-color: var(--DarkOrange);
		color: var(--White);
		padding: var(--Small) var(--Medium);

		&:hover,
		&:focus {
			color: var(--White);
		}
	}
}