/*----------------------------------------------------------------*\
		PRIMARY NAV WRAP
\*----------------------------------------------------------------*/
.primary-nav-wrap {
	z-index: 99999;
	padding: var(--Small) var(--Inbetween);
	background-color: var(--White);
	display: flex;
	justify-content: space-between;
	/* border-bottom: 2px solid #D4D3E0; */
	box-shadow: 0px 4px 8px var(--PurpleTransparent);
	position: relative;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		width: 100%;
		height: 64px;
		background-image: url('../images/logo-pattern.png');
		background-repeat: repeat-x;
		background-position: top center;

	}

	& .logo {
		& img {
			width: 48px;
			height: 48px;
			object-fit: cover;
			object-position: center left;
			display: block;

			@media(--phone) {
				width: auto;
				height: 56px;
				object-fit: contain;
			}
		}
	}

	& .primary-nav {
		display: none;
		align-items: center;
		justify-content: flex-end;
		position: relative;

		@media(--tablet) {
			display: flex;
		}

		& ul {
			padding: 0;
			margin: 0;
			display: flex;

			& li {
				margin: 0 14px;
				padding: 0;
				display: flex;
				justify-content: center;
				align-items: center;

				&:before {
					display: none;
				}

				&.divide-before {
					&::before {
						content: '';
						display: block;
						height: 120%;
						width: 2px;
						background-color: var(--Grey);
						margin-right: var(--Medium);
						position: relative;
						top: 0;
						background-image: none;
					}
				}

				&.has-icon {
					& a {
						&::before {
							width: 18px;
							height: 18px;
							display: inline-block;
							content: '';
							top: 1px;
							position: relative;
							margin-right: var(--Small);
							opacity: .5;
							background-size: contain;
							background-position: center;
							background-repeat: no-repeat;
							transition: all .35s linear;
						}

						&:hover,
						&:focus {
							&::before {
								opacity: 1;
							}
						}
					}

					&.icon-play {
						& a::before {
							background-image: url('../images/Icons_Watch.svg');
						}
					}

					&.icon-live {
						& a::before {
							background-image: url('../images/Icons_Live.svg');
						}
					}

					&.icon-chat {
						& a::before {
							background-image: url('../images/Icons_Discuss.svg');
						}
					}

					&.icon-article {
						& a::before {
							background-image: url('../images/Icons_Read.svg');
						}
					}

					&.icon-download {
						& a::before {
							background-image: url('../images/Icons_Download.svg');
						}
					}

					&.icon-attend {
						& a::before {
							background-image: url('../images/Icons_Attend.svg');
						}
					}
				}

				&.is-icon {
					& a {
						text-indent: -999999px;
						overflow: hidden;

						&:after {
							content: '';
							display: block;
							width: 26px;
							height: 26px;
						}

						&:hover,
						&:focus {
							border-color: transparent;
						}
					}

					&.icon-search {
						& a::after {
							background-image: url('../images/Icons_Search.svg');
						}
					}
				}

				&.is-button {
					& a {
						display: inline-block;
						padding: var(--Small) 20px;
						margin: 0;
						font-size: 16px;
						font-weight: 600;
						color: var(--White);
						text-decoration: none;
						text-transform: uppercase;
						cursor: pointer;
						background-color: var(--Purple);
						border: none;
						border-radius: 5px;
						transition: all 0.35s linear;

						&:hover,
						&:focus {
							color: var(--White);
							background-color: var(--Purple);
							text-decoration: none;
						}
					}

					&.is-orange a {
						color: var(--Purple);
						background-color: var(--Orange);

						&:hover,
						&:focus {
							color: var(--White);
							background-color: var(--DarkOrange);
							text-decoration: none;
						}
					}
				}
			}
		}

		& a.button {
			padding: var(--Small) 24px;
			margin: 0 var(--Medium);
		}

		& a:not(.button) {
			color: var(--Purple);
			font-weight: 600;
			text-decoration: none;
			padding: var(--xSmall);
			border-bottom: 4px solid transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all .35s linear;

			&:hover,
			&:focus {
				border-color: var(--PurpleTransparent);
			}

			&.is-icon {
				text-indent: -999999px;
				overflow: hidden;
				margin-left: var(--Small);

				&::after {
					content: '';
					display: block;
					width: 26px;
					height: 26px;
					background-repeat: no-repeat;
					background-position: center;
					opacity: .5;
					transition: all .35s linear;
				}

				&:hover,
				&:focus {
					border-color: transparent;

					&::after {
						opacity: 1;
					}
				}
			}

			&.icon-search::after {
				background-image: url('../images/Icons_Search.svg');
			}

			&.icon-account::after {
				background-image: url('../images/icon-Account.svg');
			}
		}

		& button.activate-search {
			background-color: transparent;
			background-color: transparent;
			padding: var(--Small) var(--Small) var(--Medium) var(--Small);
			display: block;

			& svg {
				height: 20px;
				width: 20px;
				fill: var(--PurpleTransparent);
				display: block;
				transition: all .2s linear;
			}

			&:hover,
			&:focus {
				& svg {
					fill: var(--Purple);
				}
			}
		}
	}
}

/*--------------------------*\
		MOBILE MENU
\*--------------------------*/
.mobile-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@media(--tablet) {
		display: none;
	}

	& .open-menu {
		padding: 0;
		background-color: transparent;

		& svg {
			width: 32px;
			height: 32px;
			fill: var(--Purple);
			stroke: var(--Purple);
		}
	}

	& .mobile-menu-container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: var(--Purple);
		box-shadow: 16px 15px 30px 0 rgba(36, 35, 98, .4);
		padding: 0 5%;
		z-index: 10;
		width: 80vw;
		transition: all 0.35s linear;
		transform: translateX(100%);
		text-align: right;

		@media(--phone) {
			top: 72px;
			height: calc(100vh - 91px);
			width: 80vw;
		}

		&.is-active {
			transform: translateX(0);
			box-shadow: -16px 15px 30px 0 rgba(36, 35, 98, .4);
		}

		& .close-menu {
			padding: 0;
			background-color: transparent;
			margin: var(--Medium) 0 0 auto;
			display: flex;

			& svg {
				width: 32px;
				height: 32px;
				fill: var(--White);
				stroke: var(--White);
			}
		}

		&>form {
			position: relative;
			margin: var(--Large) 5% 0 auto;
			width: 90%;
			max-width: 400px;

			& label {
				color: var(--White);
				position: absolute;
				top: -10px;
				left: 16px;
				padding: 0 6px;
				background-color: var(--Purple);
			}

			& input {
				background: transparent;
				border: 2px solid var(--White);
				color: var(--White);
				padding-top: 16px;
			}

			& ::placeholder {
				color: var(--White);
			}

			& button {
				background: transparent;
				position: absolute;
				top: calc(50% + -20px);
				right: var(--xSmall);
				padding: var(--Small) var(--Medium);

				& svg {
					fill: var(--White);
					width: 20px;
					height: 20px;
				}
			}
		}

		& a {
			color: var(--White);
			font-size: 24px;
			text-decoration: none;
			padding: 0 0 var(--Medium) 0;
			display: block;

			&.join {
				color: var(--Orange);
			}
		}

		& .menu-primary-nav-container {
			& ul {
				margin: var(--Large) 0 var(--xLarge) 0;
				padding: 0;

				& li {
					margin: 0;
					padding: 0;
					text-align: right;

					&::before {
						display: none;
					}

					&.has-icon {
						& a {
							&::before {
								width: 18px;
								height: 18px;
								display: inline-block;
								content: '';
								top: 1px;
								position: relative;
								margin-right: var(--Small);
								opacity: 1;
								background-size: contain;
								background-position: center;
								background-repeat: no-repeat;
								transition: all .35s linear;
								filter: brightness(0) invert(1);
							}
						}

						&.icon-play {
							& a::before {
								background-image: url('../images/Icons_Watch.svg');
							}
						}

						&.icon-live {
							& a::before {
								background-image: url('../images/Icons_Live.svg');
							}
						}

						&.icon-chat {
							& a::before {
								background-image: url('../images/Icons_Discuss.svg');
							}
						}

						&.icon-article {
							& a::before {
								background-image: url('../images/Icons_Read.svg');
							}
						}

						&.icon-download {
							& a::before {
								background-image: url('../images/Icons_Download.svg');
							}
						}

						&.icon-attend {
							& a::before {
								background-image: url('../images/Icons_Attend.svg');
							}
						}
					}

					&.is-icon {
						& a {
							text-indent: -999999px;
							overflow: hidden;

							&:after {
								content: '';
								display: block;
								width: 26px;
								height: 26px;
							}

							&:hover,
							&:focus {
								border-color: transparent;
							}
						}

						&.icon-search {
							display: none;
						}
					}

					&.is-button {
						& a {
							display: inline-block;
							padding: var(--Small) 20px;
							margin: 0;
							font-size: 16px;
							font-weight: 600;
							color: var(--White);
							text-decoration: none;
							text-transform: uppercase;
							cursor: pointer;
							background-color: var(--Purple);
							border: none;
							border-radius: 5px;
							transition: all 0.35s linear;

							&:hover,
							&:focus {
								color: var(--White);
								background-color: var(--Purple);
								text-decoration: none;
							}
						}

						&.is-orange a {
							color: var(--Purple);
							background-color: var(--Orange);

							&:hover,
							&:focus {
								color: var(--White);
								background-color: var(--DarkOrange);
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}